<head><!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-62NPJ5DP7F"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-62NPJ5DP7F');
  </script>
  </head>
<div style="height:60px"></div>

<div id="section1">


<div class="container" style="padding-top: 60px;">
    <div class="left-column">
        <h1 style="font-size: xxx-large;
        font-family: system-ui !important; ">AWS Certified Engineer</h1> <br>
        <h2>Join. Learn by Doing. Get Hired | Live Bootcamp With Placement Assistance</h2>
       <div class="feature-container">
<div class="feature-icon"><img src="assets/key-features/aws/1.svg" style="width: 573px;" alt="Realtime Trainer"></div>
<div class="feature-icon"><img src="assets/key-features/aws/2.svg" style=" width: 484px;;" alt="Real Time Projects"></div>
<div class="feature-icon"><img src="assets/key-features/aws/3.svg"  alt="Placement Assistance"></div>
<div class="feature-icon"><img src="assets/key-features/aws/4.svg" style="width: 530px;" alt=" Mock Interviews"></div>
</div>
<br>

<div style="padding-left: 10px;">
  <button class="awscoursebtn" (click)="scrollToTrendingCourses()">Course Content</button>

</div>


    </div>
    <div class="right-column">

        <div class="form">
          <form [formGroup]="registrationForm" class="form-container" style="display: flex;flex-direction: column;align-items: center; gap: 20px;">
              <mat-form-field appearance="fill">
                <mat-label  for="name">Name:</mat-label>
                <input matInput type="text" id="name" name="name" [formControl]="name" pattern="[a-zA-Z ]+">
                <mat-error *ngIf="name.invalid && !name.hasError('required')">
                  Name should only contain letters and spaces
                </mat-error>
                <mat-icon-button *ngIf="name.value" matSuffix aria-label="Clear" (click)="name.setValue('')">
                  <mat-icon>close</mat-icon>
                </mat-icon-button>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label for="email">Email:</mat-label>
                <input matInput type="email" id="email" name="email" [formControl]="email">
                <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="email.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
                <mat-icon-button *ngIf="email.value" matSuffix aria-label="Clear" (click)="email.setValue('')">
                  <mat-icon>close</mat-icon>
                </mat-icon-button>
              </mat-form-field>
              <div style="    display: flex;
              /* gap: 15px; */
              flex-direction: column;
              width: 100%;" class="exp">
                <mat-form-field appearance="fill">
                  <mat-label for="phone">Phone Number:</mat-label>
                  <input matInput type="tel" id="phoneNo" name="phone" [formControl]="phone" maxlength="10" pattern="[0-9]*" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                  <mat-error *ngIf="phone.invalid && !phone.hasError('required')">
                    Phone number must be 10 digits
                  </mat-error>
                  <mat-icon-button *ngIf="phone.value" matSuffix aria-label="Clear" (click)="phone.setValue('')">
                    <mat-icon>close</mat-icon>
                  </mat-icon-button>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label el for="experience">Experience Level:</mat-label>
                  <mat-select id="experience" name="experience" [formControl]="experience">
                    <mat-option value="Fresher">Fresher</mat-option>
                    <mat-option value="1-3 years">1-3 years</mat-option>
                    <mat-option value="3-5 years">3-5 years</mat-option>
                    <mat-option value="5-8 years">5-8 years</mat-option>
                    <mat-option value="8+ years">8+ years</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <mat-form-field appearance="fill">
              <mat-label for="course-interest">Course Interested:</mat-label>
                <textarea matInput id="course-interest" name="course-interest" rows="2" cols="30" formControlName="courseInterest"></textarea>
                <mat-icon-button *ngIf="courseInterest.value" matSuffix  aria-label="Clear" (click)="courseInterest.setValue('')">
                  <mat-icon>close</mat-icon>
                </mat-icon-button>
              </mat-form-field>
            <button style="width: 52%;" mat-raised-button type="submit" [disabled]="!registrationForm.valid" (click)="onSubmit()" [matTooltip]="registrationForm.invalid ? 'Please fill all mandatory fields' : 'You\'ll recieve browcher on Submit'">Request Callback</button>
          </form>
        </div>
    </div>
</div>

<div class="banner">
    <div>
      <p >Join 2 Days Free Demo!</p> <br>
      <p style="font-size: larger;">19th & 20th Jan 2023, 09:30am IST</p>
    </div>    
    <div>
      <p>Classes start January 22, 2024.</p> <br>
      <p style="font-size: x-large;">09:30am IST</p>
    </div>
    <div>
      <p>Register</p><br>
      <p style="font-size: x-large;"></p>
      <a href="https://us02web.zoom.us/meeting/register/tZMrd-uuqTkvGt349WAUWU50Jzt1TvwJv1Mt" target="_blank" style="color: rgb(243, 94, 7)">Click here to register</a>
    </div>
  </div>


  <div id="trending-courses">
    <trending-courses class="desktop"></trending-courses>
  </div>
  <course-contentmob class="mobile" style="padding-bottom: 50px; "></course-contentmob>
  
</div>


