
<div class="toolsplotform">
    <h5>Tools and Platforms</h5>

    <ul>
        <li> <img src="assets/tools/compute.png" alt="tools"> </li>
        <li> <img src="assets/tools/lamba.png" alt="tools"> </li>
        <li> <img src="assets/tools/route.png" alt="tools"> </li>
        <li> <img src="assets/tools/vpc.png" alt="tools"> </li>
        <li> <img src="assets/tools/s_amazon.png" alt="tools"> </li>

        <li> <img src="assets/tools/docker.png" alt="tools"> </li>
        <li> <img src="assets/tools/git.png" alt="tools"> </li>
        <li> <img src="assets/tools/slack.png" alt="tools"> </li>
        <li> <img src="assets/tools/kubernetes.png" alt="tools"> </li>
        <li> <img src="assets/tools/aws.png" alt="tools"> </li>

        <li> <img src="assets/tools/linux.png" alt="tools"> </li>
        <li> <img src="assets/tools/trello.png" alt="tools"> </li>
        <li> <img src="https://th.bing.com/th?id=OIP.i2ifSiJq1FimAgekfeowQwHaEN&w=331&h=188&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2" alt="tools"> </li>
        <li> <img src="assets/tools/cgpt.png" alt="tools"> </li>
        <li> <img src="assets/tools/githubgl.png" alt="tools"> </li>

        <li> <img src="assets/tools/seleniu.png" alt="tools"> </li>
    </ul>
</div>
