<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<!-- component-b.component.html -->

<div class="sr-modal__content sr-modal__content--center">
    <div class="sr-modal__header">
      <div class="sr-modal__title h3 bold">EMI Options</div>
      <a class="sr-modal__close" (click)="close()">
        <i class="fa-solid fa-x"></i>
      </a>
      
    </div>
    <div class="sr-modal__body">
      <div class="emi-options-modal">
        <div class="emi-options-modal__description">
          You can find both no-cost EMI &amp; standard interest EMI from our NBFC partners. See below a summary of their best plans (more details available at the time of payment)
        </div>
        <div class="emi-options-modal__table zoom-scholarship">
          <div class="col-list">
            <div class="col-list__name"></div>
            <div class="col-list__name">Total Amount</div>
            <div class="col-list__name">Upfront Downpayment</div>
            <div class="col-list__name">Amount split over EMI</div>
            <div class="col-list__name">Duration (Months)</div>
            <div class="col-list__name">Monthly Payments</div>
          </div>
          <div class="col-list">
            <div class="col-list__field cc">No Cost Emi</div>
            <div class="col-list__field cc">₹24,999</div>
            <div class="col-list__field cc">₹24,999</div>
            <div class="col-list__field cc">₹24,999</div>
            <div class="col-list__grid">
              <div class="col-list__subfield grey">6</div>
              <div class="col-list__subfield grey">9</div>
              <div class="col-list__subfield grey">12</div>
              <div class="col-list__subfield grey">18</div>
              <div class="col-list__subfield grey">24</div>
            </div>
            <div class="col-list__field">
              <div class="col-list__subfield orange">₹4,166</div>
              <div class="col-list__subfield orange">₹2,777</div>
              <div class="col-list__subfield orange">₹2,083</div>
              <div class="col-list__subfield orange">₹1,388</div>
              <div class="col-list__subfield orange">₹1,041</div>
            </div>
          </div>
          <div class="col-list">
            <div class="col-list__field cc">Standard Emi</div>
            <div class="col-list__field cc">₹24,999</div>
            <div class="col-list__field cc">₹24,999</div>
            <div class="col-list__field cc">₹24,999</div>
            <div class="col-list__grid">
              <div class="col-list__subfield grey">36</div>
              <div class="col-list__subfield grey">60</div>
            </div>
            <div class="col-list__field">
              <div class="col-list__subfield orange">₹694</div>
              <div class="col-list__subfield orange">₹416</div>
            </div>
          </div>
          <div class="sub-title">
            Delivered via our EMI partners - Liquiloans, Eduvanz, EarlySalary, Avanse &amp; Credit Fair<br> You can also choose to avail EMI options from your credit card providers.
          </div>
        </div>
        <div class="emi-options-modal__table median-scholarship hidden">
          <div class="col-list">
            <div class="col-list__name"></div>
            <div class="col-list__name">Total Amount</div>
            <div class="col-list__name">Scholarship</div>
            <div class="col-list__name">Reduced Tution Fees</div>
            <div class="col-list__name">Upfront Downpayment</div>
            <div class="col-list__name">Amount split over EMI</div>
            <div class="col-list__name">Duration (Months)</div>
            <div class="col-list__name">Monthly Payments</div>
          </div>
          <div class="col-list">
            <div class="col-list__field">No Cost Emi</div>
            <div class="col-list__field">₹24,999</div>  2083
            <div class="col-list__field">₹0</div>
            <div class="col-list__field">₹24,999</div>
            <div class="col-list__field">₹24,999</div>
            <div class="col-list__field">₹24,999</div>
            <div class="col-list__field">
              <div class="col-list__subfield grey">12</div>
              <div class="col-list__subfield grey">9</div>
              <div class="col-list__subfield grey">12</div>
            </div>
            <div class="col-list__field">
              <div class="col-list__subfield orange">₹24,999</div>
              <div class="col-list__subfield orange">₹24,999</div>
              <div class="col-list__subfield orange">₹24,999</div>
            </div>
          </div>
          <div class="col-list">
            <div class="col-list__field">No Cost Emi</div>
            <div class="col-list__field">₹24,999</div>
            <div class="col-list__field">₹0</div>
            <div class="col-list__field">₹24,999</div>
            <div class="col-list__field">₹24,999</div>
            <div class="col-list__field">₹24,999</div>
            <div class="col-list__field">
              <div class="col-list__subfield grey">12</div>
              <div class="col-list__subfield grey">9</div>
              <div class="col-list__subfield grey">12</div>
            </div>
            <div class="col-list__field">
              <div class="col-list__subfield orange">₹24,999</div>
              <div class="col-list__subfield orange">₹24,999</div>
              <div class="col-list__subfield orange">₹24,999</div>
            </div>
          </div>
          <div class="sub-title">
            Delivered via our EMI partners - Liquiloans, Eduvanz, EarlySalary, Avanse &amp; Credit Fair<br> You can also choose to avail EMI options from your credit card providers.
          </div>
        </div>
      </div>
    </div>
  </div>
  