/* Your CSS styles go here */
.course {
    background-color: #38b6ff;
    margin: 10px;
    padding: 20px;
    border-radius: 45px;
    box-shadow: 0 4px 4px #00000080;
  }
  
  h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    color: white;
    cursor: pointer;
    text-align: center;
    text-shadow: 0px 3px 4px rgba(0,0,0,.5);
  }
  
  .modules {
    margin-top: 20px;
    color: black;
  }
  
  h2 {
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-bottom: 13px;
    font-weight: 700;
  }
  
  .module {
    cursor: pointer;
  }
  
  h3 {
    font-size: 16px;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 5px 0;
    font-weight: 600;
  }
  
  .module-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }
  
  .sub-modules {
    display: none;
    margin-left: 20px;
  }
  
  .sub-module-list {
    
    margin: 0;
    padding: 0;
    color: white;
    font-weight: 600;
  }
  
  /* Remove border for the last item in the module list */
  .module-list li:last-child {
    border-bottom: none;
  }
  
  @media (max-width: 768px) {
    .course-list {
      margin: 0;
      padding: 0;
    }
  
    .course-header, .module-header {
      text-align: left;
    }
  }