<h5>Blogs</h5>
<div class="center">
  <div class="article-card">
    <div class="content">
      <p class="date">Blog</p>
      <p class="title">THE FRUGAL ARCHITECT</p>
    </div>
    <img src="assets/blogs/frugal.png" alt="article-cover" />
    <a class="view-more-btn" [routerLink]="['/blogs']" routerLinkActive="router-link-active" >View More ></a>
  </div>
  <div class="article-card">
    <div class="content">
      <p class="date">Blog</p>
      <p class="title">Amazon Route 53</p>
    </div>
    <img src="assets/blogs/route53.jpg" alt="article-cover" />
    <a class="view-more-btn" [routerLink]="['/blogs']" routerLinkActive="router-link-active" >View More ></a>
  </div>
  <div class="article-card">
    <div class="content">
      <p class="date">Blog</p>
      <p class="title">Amazon DynamoDB</p>
    </div>
    <img src="assets/blogs/dynamodb.jfif" alt="article-cover" />
    <a class="view-more-btn" [routerLink]="['/blogs']" routerLinkActive="router-link-active" >View More ></a>
  </div>

  <div class="view-more-blogs">
    <a href="/blogs"> →</a>
  </div>
</div>
