  
<div class="container">
    <h4> <b> Upcoming Batch Schedule </b></h4>
    <div class="row">
      <div class="col-md-3">
        <div class="upbox">
          <h5>AWS DevOps</h5>
          <h6> <b>Week Day Batches </b> </h6>
          <h6>(Mon-Fri)
          </h6>

          <div class="upicons">
            <div class="iconbuild"><i class="fa fa-calendar-check-o"></i></div>
            <p><strong id="js-batch-0">16th Sep 2024</strong> <br>
              Friday</p>
          </div>

          <div class="upicons">
            <div class="iconbuild"><i class="fa fa-clock-o"></i></div>
            <p> 08:30 PM (IST) <br>
              Daily 1 Hr
            </p>
          </div>
          <div class="btnrow">
            <a aria-label="Java Training " href="https://us02web.zoom.us/meeting/register/tZUlf-moqjosH9KO05ZQ1rdoUwREQn6eFGmM" class="btn outlin bgwhite iconrightpad" data-toggle="modal" data-target="#get_trained"><span> <i class="ri-bar-chart-box-line"></i> Register & Join Free Demo </span>
            </a>
          </div>
        </div>

      </div>


      <div class="col-md-3">
        <div class="upbox">
          <h5>AWS DevOps</h5>
          <h6> <b>Week Day Batches </b> </h6>
          <h6>(Mon-Fri)
          </h6>

          <div class="upicons">
            <div class="iconbuild"><i class="fa fa-calendar-check-o"></i></div>
            <p> <strong id="js-batch-1">17th Sep 2024</strong> <br>
              Tuesday</p>
          </div>

          <div class="upicons">
            <div class="iconbuild"><i class="fa fa-clock-o"></i></div>
            <p> 09:30 AM (IST) <br>
              Daily 1 Hr
            </p>
          </div>
          <div class="btnrow">
            <a aria-label="Java Training " href="https://us02web.zoom.us/meeting/register/tZIocOCvrjsvHtSDo2czZ4o_adK336o0It3F" class="btn outlin bgwhite iconrightpad" data-toggle="modal" data-target="#get_trained"><span> <i class="ri-bar-chart-box-line"></i> Register & Join Free Demo </span>
            </a>
          </div>
        </div>

      </div>

      <div class="col-md-3">
        <div class="upbox">
          <h5>Cloud FinOps</h5>
          <h6> <b>Week Day Batches </b> </h6>
          <h6>(Mon-Fri)
          </h6>

          <div class="upicons">
            <div class="iconbuild"><i class="fa fa-calendar-check-o"></i></div>
            <p><strong id="js-batch-2">24th Sep 2024</strong> <br>
              Tuesday</p>
          </div>

          <div class="upicons">
            <div class="iconbuild"><i class="fa fa-clock-o"></i></div>
            <p> 09:30 PM (IST) <br>
              Daily 1 Hr
            </p>
          </div>
          <div class="btnrow">
            <a aria-label="Java Training " href="https://us02web.zoom.us/meeting/register/tZYpduGgqT4jHdWmkTgoahhsNmI2TbMdrhtO" class="btn outlin bgwhite iconrightpad" data-toggle="modal" data-target="#get_trained"><span> <i class="ri-bar-chart-box-line"></i> Register & Join Free Demo </span>
            </a>
          </div>
        </div>

      </div>

      <div class="col-md-3">
        <div class="upbox lastup">

          <h3>Can’t find a batch you were looking for?</h3>


          <div class="btnrow">
            <a aria-label="Java Training " href="https://wa.me/919100073006" class="btn outlin bgwhite iconrightpad" data-toggle="modal" data-target="#get_trained"><span> <i class="ri-bar-chart-box-line"></i> Talk To Mentor? </span>
            </a>
          </div>
        </div> 
      </div> 

    </div>
  </div>
