  
<div class="container">
    <h4> <b> Upcoming Batch Schedule </b></h4>
    <div class="row">
      <div class="col-md-3">
        <div class="upbox">
          <h5>Week Day Batches</h5>
          <h6>(Mon-Fri)
          </h6>

          <div class="upicons">
            <div class="iconbuild"><i class="fa fa-calendar-check-o"></i></div>
            <p><strong id="js-batch-0">16th Sep 2024</strong> <br>
              Monday</p>
          </div>

          <div class="upicons">
            <div class="iconbuild"><i class="fa fa-clock-o"></i></div>
            <p> 8 AM (IST) <br>
              1hr-1:30hr / Per Session
            </p>
          </div>
          <div class="btnrow">
            <a aria-label="Java Training " href="#" class="btn outlin bgwhite iconrightpad" data-toggle="modal" data-target="#get_trained"><span> <i class="ri-bar-chart-box-line"></i> Get Free Course Demo </span>
            </a>
          </div>
        </div>

      </div>


      <div class="col-md-3">
        <div class="upbox">
          <h5>Week Day Batches</h5>
          <h6>(Mon-Fri)
          </h6>

          <div class="upicons">
            <div class="iconbuild"><i class="fa fa-calendar-check-o"></i></div>
            <p> <strong id="js-batch-1">18th Sep 2024</strong> <br>
              Wednesday</p>
          </div>

          <div class="upicons">
            <div class="iconbuild"><i class="fa fa-clock-o"></i></div>
            <p> 10 AM (IST) <br>
              1hr-1:30hr / Per Session
            </p>
          </div>
          <div class="btnrow">
            <a aria-label="Java Training " href="#" class="btn outlin bgwhite iconrightpad" data-toggle="modal" data-target="#get_trained"><span> <i class="ri-bar-chart-box-line"></i> Get Free Course Demo </span>
            </a>
          </div>
        </div>

      </div>

      <div class="col-md-3">
        <div class="upbox">
          <h5>Week Day Batches</h5>
          <h6>(Mon-Fri)
          </h6>

          <div class="upicons">
            <div class="iconbuild"><i class="fa fa-calendar-check-o"></i></div>
            <p><strong id="js-batch-2">20th Sep 2024</strong> <br>
              Friday</p>
          </div>

          <div class="upicons">
            <div class="iconbuild"><i class="fa fa-clock-o"></i></div>
            <p> 12 PM (IST) <br>
              1hr-1:30hr / Per Session
            </p>
          </div>
          <div class="btnrow">
            <a aria-label="Java Training " href="#" class="btn outlin bgwhite iconrightpad" data-toggle="modal" data-target="#get_trained"><span> <i class="ri-bar-chart-box-line"></i> Get Free Course Demo </span>
            </a>
          </div>
        </div>

      </div>

      <div class="col-md-3">
        <div class="upbox lastup">

          <h3>Can’t find a batch you were looking for?</h3>


          <div class="btnrow">
            <a aria-label="Java Training " href="#" class="btn outlin bgwhite iconrightpad" data-toggle="modal" data-target="#get_trained"><span> <i class="ri-bar-chart-box-line"></i> Get Free Course Demo </span>
            </a>
          </div>
        </div> 
      </div> 

    </div>
  </div>