<div
  rowcol-flexbox
  style="
    display: flex;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 80px;
  "
  [columnFlexValues]="[1, 1, 1]"
>
  <simple-card
    style="display: contents"
    ImgSrc="https://www.digital-lync.com/images/student1.png"
    CardTitle="Learn From Best"
    CardDesc="We don't settle or let you settle for nothing less than the BEST."
  ></simple-card>
  <simple-card
    style="display: contents"
    ImgSrc="https://www.digital-lync.com/images/student2.jpg"
    CardTitle="Boost Your Career"
    CardDesc="More than 70% of the current jobs will be replaced with new Skills – Still looking for reasons to Upskill?"
  ></simple-card>
  <simple-card
    style="display: contents"
    ImgSrc="https://www.digital-lync.com/images/student3.png"
    CardTitle="Go Digital"
    CardDesc="Don’t let your location disrupt your learning – learn by going digital"
  ></simple-card>
</div>
