
<div class="godigital lazy" style="padding: 30px 0px !important; background: url('assets/intro-card/intro_card.svg') " >
  
  <h3 class="heading-3 wow fadeInUp animated animated" style="font-size: xxx-large !important; color: #38b6ff !important;text-shadow: 1px 1px 2px black  !important;"> Why to Choose Us ? </h3>
  
  <div class="container" style="padding: 38px;">
    <div class="cards-flex">
      <simple-card
        style="display: contents"
        ImgSrc="assets/intro-card/student1.svg"
        CardTitle="Best Learning Platform "
        CardDesc="We assist people by adding value and helping them climb the ladder step by step through action."
      ></simple-card>
      <simple-card
        style="display: contents"
        ImgSrc="assets/intro-card/student2.svg"
        CardTitle="Upskill your Career"
        CardDesc="This is the era of Cloud Computing, DevOps, and AI/ML, so it's time to upskill in emerging technologies."
      ></simple-card>
      <simple-card
        style="display: contents"
        ImgSrc="assets/intro-card/student3.svg"
        CardTitle="Learn By Doing"
        CardDesc="To fully understand and grasp the concepts of a given subject or skill, a 'learn by doing' approach can be highly effective."
      ></simple-card>
    </div>
    
  </div>
  
</div>
