<div class="godigital lazy">
  <div class="container">
    <div class="cards-flex">
      <simple-card
        style="display: contents"
        ImgSrc="assets/intro-card/student1.png"
        CardTitle="Best Platform "
        CardDesc="We don't settle or let you settle for nothing less than the BEST."
      ></simple-card>
      <simple-card
        style="display: contents"
        ImgSrc="assets/intro-card/student2.jpg"
        CardTitle="Upskill your Career"
        CardDesc="More than 70% of the current jobs will be replaced with new Skills – Still looking for reasons to Upskill?"
      ></simple-card>
      <simple-card
        style="display: contents"
        ImgSrc="assets/intro-card/student3.png"
        CardTitle="Learn By Doing"
        CardDesc="Don’t let your location disrupt your learning – learn by going digital"
      ></simple-card>
    </div>
  </div>
</div>
