/* styles.css (or your component-specific styles file) */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bolder;
  font-size: 2.5rem;
  color: #172342;
  margin-top: 20px;
}

.faq-section {
  max-width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.faq-item {
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.faq-question {
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: color 0.3s ease;
}

.faq-question:hover {
  color: #172342;
}

.question-text {
  flex-grow: 1;
}

.toggle-icon::before {
  content: "+";
  transition: transform 0.3s ease;
}

.faq-item.active .faq-question .toggle-icon::before {
  content: "-";
  transform: rotate(45deg);
}

.faq-item.active .faq-answer {
  display: block;
}

.faq-answer {
  display: none;
  color: #1a1a1a;
}

.faq-answer ul {
  list-style-type: none;
  padding: 0;
  margin-left: 20px; /* Adjust the indentation as needed */
}

.faq-answer li {
  margin-bottom: 5px;
}

@media only screen and (max-width: 600px) {
  h2 {
    font-size: 1.5rem !important;
  }

  .faq-section {
    max-width: 100%;
  }
}
