<!-- app.component.html -->
<h2 style="       display: flex;
justify-content: space-around;
text-align: center;
font-weight: bolder;
font-size: 45px;
color: #172342;
/* color: #172342; */
/* font-size: xx-large; */"> FAQs</h2>
<div class="faq-section">
    <div class="faq-item">
      <div class="faq-question">
        <span class="question-text">Why Cloud Binary?</span>
        <span class="toggle-icon"> </span>
      </div>
      <div class="faq-answer">Amazon Web Services (AWS) is a comprehensive, evolving cloud computing platform provided by Amazon. It offers a mix of infrastructure as a service (IaaS), platform as a service (PaaS), and packaged software as a service (SaaS).</div>
    </div>
  
    <div class="faq-item">
      <div class="faq-question">
        <span class="question-text">Are there pre- requisites for the program ?</span>
        <span class="toggle-icon"> </span>
      </div>
      <div class="faq-answer">Applicants must be at least 18 years of age and hold a high school diploma or equivalency such as a GED, HiSET, associate’s degree, or international secondary education equivalents but there are no higher education (e.g., BA or BS) or work experience requirements. To be invited to enroll, all applicants must complete the application form and the intro course.</div>
    </div>
  
    <div class="faq-item">
      <div class="faq-question">
        <span class="question-text">How long does will it take for me to graduate from Cloud Binary?</span>
        <span class="toggle-icon"> </span>
      </div>
      <div class="faq-answer">DevOps is a set of practices that combines software development (Dev) and IT operations (Ops). It aims to shorten the development lifecycle and deliver high-quality software continuously, fostering collaboration and communication between development and operations teams.</div>
    </div>
  
    <div class="faq-item">
      <div class="faq-question">
        <span class="question-text">What is a Container?</span>
        <span class="toggle-icon"> </span>
      </div>
      <div class="faq-answer">A container is a lightweight, standalone, executable software package that includes everything needed to run a piece of software, including the code, runtime, libraries, and system tools. Containers provide consistency across different development, testing, and deployment environments.</div>
    </div>
  
    <div class="faq-item">
      <div class="faq-question">
        <span class="question-text">What is MLOps?</span>
        <span class="toggle-icon"> </span>
      </div>
      <div class="faq-answer">MLOps (Machine Learning Operations) is a set of practices that combines machine learning, data engineering, and operations to automate the end-to-end machine learning lifecycle. It aims to streamline the development, deployment, and maintenance of machine learning models at scale.</div>
    </div>
  
    <div class="faq-item">
      <div class="faq-question">
        <span class="question-text">What is Generative AI?</span>
        <span class="toggle-icon"> </span>
      </div>
      <div class="faq-answer">Generative AI refers to the use of artificial intelligence systems to generate new content, such as images, text, or even music. It involves training models to learn patterns from existing data and then generating new, original content based on those learned patterns.</div>
    </div>
    
  
    <!-- Add more FAQ items as needed -->
    <div class="faq-item">
      <div class="faq-question">
        <span class="question-text">What's new with AWS?</span>
        <span class="toggle-icon"></span>
      </div>
      <div class="faq-answer">AWS is continuously introducing new capabilities to empower you with the latest technologies, enabling faster experimentation and innovation. Our "What's New" posts provide a concise overview of announcements, including new AWS services, features, and expanded regions, keeping you informed about the latest advancements in the AWS ecosystem . <a href="https://aws.amazon.com/new/?nc1=f_cc&whats-new-content-all.sort-by=item.additionalFields.postDateTime&whats-new-content-all.sort-order=desc&awsf.whats-new-categories=*all" target="_blank">AWS What's New page</a>.</div>
    </div>
  
    <!-- Add more FAQ items as needed -->
  
    <div class="faq-item">
      <div class="faq-question">
        <span class="question-text">Where can I find more updates?</span>
        <span class="toggle-icon"></span>
      </div>
      <div class="faq-answer">For the latest updates and announcements, visit the <a href="https://aws.amazon.com/new/?nc1=f_cc&whats-new-content-all.sort-by=item.additionalFields.postDateTime&whats-new-content-all.sort-order=desc&awsf.whats-new-categories=*all" target="_blank" style="font-weight: 900;">AWS What's New page</a>.</div>
    </div>
  
  </div>
  