<head><!-- Google tag (gtag.js) -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-62NPJ5DP7F"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-62NPJ5DP7F');
  </script>
  
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WDC9D8TC');</script>
  <!-- End Google Tag Manager -->
  <meta name="google-site-verification" content="N9_toQ-CgRmLkM6T06FH0x94NqlsdM1gxtOPD-TY8Do" />
</head>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WDC9D8TC"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->


<div style="padding-top: 100px ;"></div>

<div class="container">
  <!-- Your existing content -->



<div class="heading">
    <h2 style="font-size: xx-large; font-weight: 900; color: white;"> Our Blogs</h2>
  </div>
  
  <div class="row">
    <div class="leftcolumn">
      <div class="card">
        <h2 style="font-weight: 900; font-size: xx-large;" >THE FRUGAL ARCHITECT</h2>
        <h5>Simple laws for building cost-aware, sustainable, and modern architectures.</h5>
        <div> <img src="assets/blogs/frugal.png" alt="THE FRUGAL ARCHITECT" style="width: 50%;"> </div> <br>
        
        <a   href="{{baseurl + '/frugalarchitect'}}" >Read More </a>
      </div>
      <div class="card">
        <h2 style="font-weight: 900; font-size: xx-large;" >Unveiling the Power of Amazon S3 Buckets</h2>
        <h5>In the ever-evolving landscape of cloud computing, Amazon Simple Storage Service (S3) stands tall as a robust and scalable object storage service, redefining the way businesses manage and store their data </h5>
        <div> <img src="https://miro.medium.com/v2/resize:fit:1400/format:webp/1*gf0RVVftwyBo3_rbilc65A.png" alt=""> </div> <br>
        <p>At the core of Amazon Web Services (AWS), S3 seamlessly facilitates the storage and retrieval of virtually unlimited amounts of data, offering a reliable and secure solution for businesses of all sizes..</p>
        <a   href="{{baseurl + '/Amazon-S3'}}" >Read More </a>
      </div>
      <div class="card">
        <h2 style="font-weight: 900; font-size: xx-large;" >Amazon Route 53</h2>
        <h5>Amazon Route 53 is a highly available and scalable Domain Name System (DNS) web service. </h5>
        <div> <img src="assets/blogs/route53.jpg" alt=""> </div> <br>
        <p>Amazon Route 53 Resolver responds recursively to DNS queries from AWS resources for public records, Amazon VPC-specific DNS names, and Amazon Route 53 private hosted zones, and is available by default in all VPCs...</p>
        <a   href="{{baseurl + '/Route-53'}}" >Read More </a>
      </div>
      
      <div class="card">
        <h2 style="font-weight: 900; font-size: xx-large;" >Amazon EC2</h2>
        <h5>Understanding Amazon Elastic Compute Cloud (EC2)</h5>
        <div> <img src="assets/blogs/EC2.png" alt=""> </div> <br>
        <p>Amazon Elastic Compute Cloud (EC2) is a key component of Amazon Web Services (AWS), providing scalable computing capability in the cloud. As more enterprises switch to cloud-based infrastructure, EC2 stands out as a critical service, delivering flexibility, dependability, and strong computing resources..</p>
        <a   href="{{baseurl + '/Amazon-EC2'}}" >Read More </a>
      </div>
      <div class="card">
        <h2 style="font-weight: 900; font-size: xx-large;" >Amazon DynamoDB</h2>
        <h5>Amazon DynamoDB is a fully managed NoSQL database service that provides fast and predictable performance with seamless scalability. </h5>
        <div> <img src="assets/blogs/dynamodb.jfif" alt=""> </div> <br>
        <p>DynamoDB lets you offload the administrative burdens of operating and scaling a distributed database so that you don't have to worry about hardware provisioning, setup and configuration, replication, software patching, or cluster scaling..</p>
        <a   href="{{baseurl + '/AWS-DynamoDB'}}" >Read More </a>
      </div>
      <div class="card">
        <h2 style="font-weight: 900; font-size: xx-large;" >Creating MySQL Database</h2>
        <h5>Creating MySQL Database using EC2 Instance</h5>
        <div> <img src="assets/blogs/mysql.png" alt=""> </div> <br>
        <p>MySQL is a widely used relational database management system (RDBMS) that is used to manage and store data. Here are some of the common uses of MySQL...</p>
        <a   href="{{baseurl + '/blog1'}}" >Read More </a>
      </div>
      <div class="card">
        <h2 style="font-weight: 900; font-size: xx-large;" >AWS News Blog</h2>
        <h5>New customization capability in Amazon CodeWhisperer generates even better suggestions</h5>
        <div> <img src="assets/blogs/b1.png" alt=""> </div> <br>
        <p>Developers who are part of Amazon CodeWhisperer Professional tier can receive real-time code recommendations that include their internal libraries, APIs, packages, classes, and methods.</p>
        <a href="https://aws.amazon.com/blogs/aws/new-customization-capability-in-amazon-codewhisperer-generates-even-better-suggestions-preview/?trk=182007e6-5b2f-4578-87e1-d2b20cbde625&sc_channel=el"> Read more</a>
      </div>
      <div class="card">
        <h2 style="font-weight: 900; font-size: xx-large;">AWS Security Blog</h2>
        <h5>How AWS protects customers from DDoS events</h5>
        <div ><img src="assets/blogs/b2.png" alt=""></div> <br>
        <p>In late August, Amazon CloudFront automatically mitigated a new type of distributed denial of service event, called an HTTP/2 rapid reset attack. Learn how you can improve your DDoS resilience with AWS.</p>
          <a href="https://aws.amazon.com/blogs/security/how-aws-protects-customers-from-ddos-events/?trk=b9824a88-1fc1-49c3-9be3-e00ae40a63a8&sc_channel=el">Read more</a>
      </div>
    </div>
    <div class="rightcolumn">
      <div class="card">
        <h2 >About Us</h2>
        <div ><img src="assets/intro/newlogo.png" alt=""></div>
        <p>Learn AWS  DevOps in 45 Days By Doing..
          Certification Oriented With Real Time Training</p>
      </div>
      <div class="card">
        <h3>Popular Post</h3>
        <div ><img src="assets/awscourse.png" alt="AWS"></div><br>
        <div><img src="assets/blogs/DEVOPS.png" alt=""> </div><br>
        <div><img src="assets/blogs/AwsDevops.png" alt=""> </div>
      </div>
      <div class="card">
        <h3>Follow Us on</h3>
        <div class="btn"  >

          <a href="https://www.youtube.com/channel/UC1KQCvsbeCvIqvkVBkQhjqA"><i class="fa fa-youtube-play icon"></i></a>
          <a href="https://www.facebook.com/cloudbinarylearnbydoing/"><i class="fa fa-facebook-square icon"></i></a>
          <a href="https://www.linkedin.com/company/cloudbinary/"><i class="fa fa-linkedin icon"></i></a>
          <a href="https://www.instagram.com/cloudbinary_devops/"><i class="fa fa-instagram icon"></i></a>
        </div>
      </div>
    </div>
  </div>
  
  
  
</div>