<div style="padding-top: 100px ;"></div>

<div class="container">
  <!-- Your existing content -->



<div class="heading">
    <h2 style="font-size: xx-large; font-weight: 900; color: white;"> Our Blogs</h2>
  </div>
  
  <div class="row">
    <div class="leftcolumn">
      <div class="card">
        <h2 style="font-weight: 900; font-size: xx-large;" >THE FRUGAL ARCHITECT</h2>
        <h5>Simple laws for building cost-aware, sustainable, and modern architectures.</h5>
        <div> <img src="assets/blogs/frugal.png" alt="THE FRUGAL ARCHITECT" style="width: 50%;"> </div> <br>
        
        <a   href="{{baseurl + '/frugalarchitect'}}" >Read More </a>
      </div>
      <div class="card">
        <h2 style="font-weight: 900; font-size: xx-large;" >Amazon EC2</h2>
        <h5>Understanding Amazon Elastic Compute Cloud (EC2)</h5>
        <div> <img src="assets/blogs/EC2.png" alt=""> </div> <br>
        <p>Amazon Elastic Compute Cloud (EC2) is a key component of Amazon Web Services (AWS), providing scalable computing capability in the cloud. As more enterprises switch to cloud-based infrastructure, EC2 stands out as a critical service, delivering flexibility, dependability, and strong computing resources..</p>
        <a   href="{{baseurl + '/Amazon-EC2'}}" >Read More </a>
      </div>
      <div class="card">
        <h2 style="font-weight: 900; font-size: xx-large;" >Creating MySQL Database</h2>
        <h5>Creating MySQL Database using EC2 Instance</h5>
        <div> <img src="assets/blogs/mysql.png" alt=""> </div> <br>
        <p>MySQL is a widely used relational database management system (RDBMS) that is used to manage and store data. Here are some of the common uses of MySQL...</p>
        <a   href="{{baseurl + '/blog1'}}" >Read More </a>
      </div>
      <div class="card">
        <h2 style="font-weight: 900; font-size: xx-large;" >AWS News Blog</h2>
        <h5>New customization capability in Amazon CodeWhisperer generates even better suggestions</h5>
        <div> <img src="assets/blogs/b1.png" alt=""> </div> <br>
        <p>Developers who are part of Amazon CodeWhisperer Professional tier can receive real-time code recommendations that include their internal libraries, APIs, packages, classes, and methods.</p>
        <a href="https://aws.amazon.com/blogs/aws/new-customization-capability-in-amazon-codewhisperer-generates-even-better-suggestions-preview/?trk=182007e6-5b2f-4578-87e1-d2b20cbde625&sc_channel=el"> Read more</a>
      </div>
      <div class="card">
        <h2 style="font-weight: 900; font-size: xx-large;">AWS Security Blog</h2>
        <h5>How AWS protects customers from DDoS events</h5>
        <div ><img src="assets/blogs/b2.png" alt=""></div> <br>
        <p>In late August, Amazon CloudFront automatically mitigated a new type of distributed denial of service event, called an HTTP/2 rapid reset attack. Learn how you can improve your DDoS resilience with AWS.</p>
          <a href="https://aws.amazon.com/blogs/security/how-aws-protects-customers-from-ddos-events/?trk=b9824a88-1fc1-49c3-9be3-e00ae40a63a8&sc_channel=el">Read more</a>
      </div>
    </div>
    <div class="rightcolumn">
      <div class="card">
        <h2 >About Us</h2>
        <div ><img src="assets/intro/newlogo.png" alt=""></div>
        <p>Learn AWS  DevOps in 45 Days By Doing..
          Certification Oriented With Real Time Training</p>
      </div>
      <div class="card">
        <h3>Popular Post</h3>
        <div ><img src="assets/awscourse.png" alt="AWS"></div><br>
        <div><img src="assets/blogs/DEVOPS.png" alt=""> </div><br>
        <div><img src="assets/blogs/AwsDevops.png" alt=""> </div>
      </div>
      <div class="card">
        <h3>Follow Us on</h3>
        <div class="btn"  >

          <a href="https://www.youtube.com/channel/UC1KQCvsbeCvIqvkVBkQhjqA"><i class="fa fa-youtube-play icon"></i></a>
          <a href="https://www.facebook.com/cloudbinarylearnbydoing/"><i class="fa fa-facebook-square icon"></i></a>
          <a href="https://www.linkedin.com/company/cloudbinary/"><i class="fa fa-linkedin icon"></i></a>
          <a href="https://www.instagram.com/cloudbinary_devops/"><i class="fa fa-instagram icon"></i></a>
        </div>
      </div>
    </div>
  </div>
  
  
  
</div>