body {
          
    margin: 60px;
    padding: 0;
}

h2 {
    text-align: center;
    color: #172342;
    font-size: 45px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
}


.video-container {
    display: flex;
    justify-content: space-between;
    /* margin: 20px; */
    margin-left: 80px;
    flex-wrap: wrap;
    margin-right: 80px;
    margin-top: 50px;
    margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
    .video-container {
        margin: 20px;
    }
    h2{
        font-size: 30px;
    }
}

.video-block {
    width: 23%; /* Adjust as needed */
    margin-bottom: 20px; /* Add margin between blocks */
}

iframe {
    width: 100%;
    height: 200px; /* Adjust as needed */
}

/* Responsive styling for smaller screens (up to 768px) */
@media screen and (max-width: 768px) {
    .video-block {
        width: 100%; /* Make each block take full width */
    }
}