<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
  <div class="container">
    <div class="left-side">
      <div class="batch-info" style="color: #D0D3D9; font-size: medium;">
        <i class="fas fa-calendar-alt calendar-icon" style="color: orange;"></i>
        Next Batch Starts On 4 Jan 2024 Limited Seats Only!!
      </div>
      <br>
      <div class="price price-crossed">₹ 69,999/-</div>
      <div class="price">₹ 49,999/-</div>
      <div class="security-deposit">
        Register Now  and Save your slot
      </div>
      <a href="https://wa.me/919100073006" class="enroll-button">Enroll Now</a>
    </div>

    <div class="right-side">
      <div class="perks">
        <p style="    font-weight: 900;
        font-size: x-large;
        margin-bottom: 40px;">Perks of the program</p>
        <ul style="font-size: medium;">
          <li><span class="fas fa-check check-icon"></span> Certification Oriented with Free Internship</li>
          <li><span class="fas fa-check check-icon"></span> Real Time Use Case Based Teaching</li>
          <li><span class="fas fa-check check-icon"></span> 9+ Real Time Sample Projects</li>
          <li><span class="fas fa-check check-icon"></span> 300K+ Professionals Trained</li>
          <li><span class="fas fa-check check-icon"></span> More than 10,000 Careers Transformed(2022-2023)</li>
          <li><span class="fas fa-check check-icon"></span> Weekly mentorship sessions</li>
          <li><span class="fas fa-check check-icon"></span> Simplified Enrollment Process - No Tests, No Hassles</li>
          <li><span class="fas fa-check check-icon"></span> Internship Certificate with Offer Letter</li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
