<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>
<div class="menu-container">
  <div class="menu-header">
    <i class="menu-icon fas fa-bars" (click)="toggleMenu()"></i>
  </div>
  <ul class="menu-items">
    <li
      class="menu-item"
      (mouseenter)="showSubMenu('Home')"
      (click)="menuClick('Home')"
      (mouseleave)="hideSubMenu('Home', $event)"
    >
      <i class="menu-icon fas fa-home"></i>
    </li>
    <li
      class="menu-item"
      (mouseenter)="showSubMenu('Profile')"
      (click)="menuClick('Profile')"
      (mouseleave)="hideSubMenu('Profile', $event)"
    >
      <i class="menu-icon fas fa-user"></i>
    </li>
    <li
      class="menu-item"
      (mouseenter)="showSubMenu('Settings')"
      (click)="menuClick('Settings')"
      (mouseleave)="hideSubMenu('Settings', $event)"
    >
      <i class="menu-icon fas fa-cog"></i>
    </li>
    <!-- Add more menu items with icons as needed -->
  </ul>
</div>

<div
  id="Home"
  class="sub-menu-card"
  *ngIf="activeSubMenu === 'Home'"
  (mouseleave)="hideSubMenu('Home', $event, true)"
>
  <ul class="sub-menu">
    <li class="sub-menu-heading"><b>Home</b></li>
    <li class="sub-menu-item">Sub-Feature 1 for Home</li>
    <li class="sub-menu-item">Sub-Feature 2 for Home</li>
    <li class="sub-menu-item">Sub-Feature 3 for Home</li>
  </ul>
</div>

<div
  id="Profile"
  class="sub-menu-card"
  *ngIf="activeSubMenu === 'Profile'"
  (mouseleave)="hideSubMenu('Profile', $event, true)"
>
  <ul class="sub-menu">
    <li class="sub-menu-heading"><b>Profile</b></li>
    <li class="sub-menu-item">Sub-Feature A for Profile</li>
    <li class="sub-menu-item">Sub-Feature B for Profile</li>
    <li class="sub-menu-item">Sub-Feature C for Profile</li>
  </ul>
</div>

<div
  id="Settings"
  class="sub-menu-card"
  *ngIf="activeSubMenu === 'Settings'"
  (mouseleave)="hideSubMenu('Settings', $event, true)"
>
  <ul class="sub-menu">
    <li class="sub-menu-heading"><b>Settings</b></li>
    <li class="sub-menu-item">Sub-Setting 1 for Settings</li>
    <li class="sub-menu-item">Sub-Setting 2 for Settings</li>
    <li class="sub-menu-item">Sub-Setting 3 for Settings</li>
  </ul>
</div>

<!-- <div class="sub-menu-card" *ngIf="activeSubMenu">
  <ul class="sub-menu">
    <li class="sub-menu-heading">
      <b>{{ activeSubMenu }}</b>
    </li>
    <li class="sub-menu-item" *ngFor="let subFeature of subMenuFeatures">
      {{ subFeature }}
    </li>
  </ul>
</div> -->
