.menu-container {
  height: 100vh;
  background-color: #333;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 30px 5px 0;
}

.menu-header {
  padding: 10px;
  text-align: center;
}

.menu-icon {
  font-size: 24px;
  width: 30px;
  cursor: pointer;
  color: white; /* Add this line to set icon color */
}
.menu-icon:hover {
  color: yellow; /* Change icon color on hover if desired */
}

.menu-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  padding: 10px;
  margin: 10px -10px 10px 0;
  text-align: center;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
}

.menu-item:hover {
  background-color: #444;
}

.sub-menu-card {
  position: absolute;
  top: 60px;
  left: 60px;
  width: 250px;
  background-color: rgba(235, 235, 235, 0.2);
  height: 600px;
  /* display: none; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.sub-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sub-menu-heading {
  padding: 10px;
  text-align: center;
}

.sub-menu-item {
  padding: 10px;
  margin: 0 10px;
  border-radius: 10px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.sub-menu-item:hover {
  background-color: #f1f1f1;
}

.aTV {
  border: 6px solid;
  box-shadow: -3px 3px 3px 0 rgba(60, 64, 67, 0.15);
  content: "";
  height: 0;
  position: absolute;
  transform: rotate(45deg);
  width: 0;
  border-color: transparent transparent #eef3fc #eef3fc;
  /* display: none; */
  left: 64px;
}

.menu-icon.highlighted {
  color: yellow;
  /* Add any other styling you want for the highlighted menu item */
}

.fa-times::before {
  content: "\f00d"; /* Unicode for the close icon */
}
