<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
  body{
    visibility: visible;
background: url('assets/hybrid-learning/bg3.png') center center / cover no-repeat;
}
    </style>
    <title>Container Example</title>
</head>
<body>

    <!-- All Containers in the Same Row -->
    <div class="container-row">

        <!-- Container 1 with Image and Sample Text -->
        <div class="container">
            <img style="    width: fit-content;
            height: -webkit-fill-available;" 
            src="https://www.cloudbinary.io/assets/intro/homepage.svg" alt="Sample Image" width="300">
        </div>

        <!-- Container 2 with Message -->
        <div class="container">
            <!-- <h1>AWS DevOps Online Training Course for 9,999/-</h1><br> -->
            <h1>AWS DevOps at an unbeatable price this summer</h1><br>
            <h1><strong style="color: orangered">Enroll Now For Just ₹9,999/-</strong></h1>

            
            <ul>
                <!-- <p>Enroll in our AWS DevOps Online Training Course today for a streamlined pathway to success!</p> -->
                <!-- <li>Enroll in our AWS DevOps Online Training Course today for a streamlined pathway to success!</li> -->
                <!-- <p>Our virtual cloud-skills training program will help you launch your career as a Cloud, DevOps, MLOps Engineer in as little as six months, regardless of your technical background</p> -->
                <!-- <li>Our virtual cloud-skills training program will help you launch your career as a Cloud, DevOps, MLOps Engineer in as little as six months, regardless of your technical background.</li> -->
              </ul>
            <div class="button-container">
                <div class="wrapper" style="padding-top: 4px; display: flex; justify-content: center; margin: -5px;"></div>
           <!--     <a href="https://us02web.zoom.us/meeting/register/tZAucu6spz8pHdBp2m3xpNOgUogH_rXhtDsC" class="button">Register for Demo</a> -->
                <a href="https://wa.me/919100073006" class="button">Talk to Mentor</a>
              </div>
        </div>

        <div class="container">
            <div>
                <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                    <div>
                        <h2>Just One Step Away!</h2>
                        <h6>Register Us!</h6>
                    </div>
                    <label for="name">Name</label>
                    <input type="text" id="name" formControlName="name" required>

                    <label for="phone">Phone</label>
                    <input type="tel" id="phone" formControlName="phone" required>

                    <label for="option">Looking for</label>
                    <select id="option" formControlName="option">
                        <option value="AWS- DevOps Regular">AWS DevOps - Regular</option>
                        <option value="AWS- DevOps Job Ready">Job Ready</option>
                        <option value="Other">Other</option>
                    </select>

                    <div>
                        <button style="align-items: center;" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

</body>
</html>
