<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

	<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-145YV0H277"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-145YV0H277');
</script>
<meta name="google-site-verification" content="N9_toQ-CgRmLkM6T06FH0x94NqlsdM1gxtOPD-TY8Do" />
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-WDC9D8TC');</script>
	<!-- End Google Tag Manager -->
</head>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WDC9D8TC"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->


<div style="padding-top: 100px;"></div>
<body>
	<div class="container">
		<div class="innerwrap">
		
			<section class="section1 clearfix">
				<div class="textcenter">
					<br>
					<h1>Contact Us</h1>
					<!-- <span class="shtext">Contact Us</span> -->
					<span class="seperator"></span>
					<!-- <h2>Drop Us a Mail</h2> -->
				</div>
			</section>
		
			<section class="section2 clearfix">
				<div class="col2 column1 first">
                    <div class="map-container">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.7625122662575!2d78.33416168464218!3d17.423181159168614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb932701475d41%3A0xf33f00df0633d96b!2sWeWork%207-1-619/A/3/A%20Summit!5e0!3m2!1sen!2sin!4v1700809950514!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


					</div>
					
				</div>
				<div class="col2 column2 last">
					<div class="sec2contactform">
						<h3 class="sec2frmtitle">Want to Know More?? Drop Us a Mail</h3>
						<form (ngSubmit)="handleSubmitForm()" #form="ngForm" class="sec2contactform">
							<!-- Form fields -->
							<div class="clearfix">
								<input class="col2 first" type="text" placeholder="FirstName*" required [(ngModel)]="formData.first_name" name="first_name" />
								<input class="col2 last" type="text" placeholder="LastName*" required [(ngModel)]="formData.last_name" name="last_name" />
							</div>
							<div class="clearfix">
								<input class="col2 first" type="email" placeholder="Email*" required [(ngModel)]="formData.email" name="email" oninput="validateEmail(this)" />
								<input class="col2 last" type="text" placeholder="Contact Number*" required [(ngModel)]="formData.phone" name="phone" minlength="10" maxlength="10"  oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
							</div>
							<div class="clearfix">
								<textarea name="textarea" id="" cols="30" rows="7" placeholder="Your message here...*" required [(ngModel)]="formData.user_message" name="user_message"></textarea>
							</div>
							<div class="clearfix">
								<!-- Submit Button -->
								<button type="submit" [disabled]="form.invalid || isLoading" [title]="form.invalid ? 'Please fill in all required fields\nwith valid inputs' : ''">
									<span>Send</span>
								</button>
								<!-- Spinner -->
								<div *ngIf="isLoading" class="loading-spinner">
									<mat-spinner diameter="20"></mat-spinner>
								</div>
							</div>
						</form>
						
					</div>
					<br>
					<div class="sec2innercont">
						<div class="sec2addr">
							<p style="font-weight: bolder;">Address: 
							<span style="    font-weight: normal;
								font-size: medium;
								color: black;">  7-1-619/A/3/A, Plot No 48, 1st Floor, SAP Street, Ameerpet, Hyderabad, TG, India.</span></p>
						<div>	
							<p><span class="collig"><i class="fa fa-phone" aria-hidden="true"></i> :</span> <a href="https://wa.me/919100073006">+91 9100073006</a></p>
						<!--	<p><span class="collig"><i class="fa fa-phone" aria-hidden="true"></i> :</span> <a href="https://wa.me/919392743006">+91 9392743006</a></p>
							<p><span class="collig"><i class="fa fa-phone" aria-hidden="true"></i> :</span> <a href="https://wa.me/919392753006">+91 9392753006</a></p>
							<p><span class="collig"><i class="fa fa-phone" aria-hidden="true"></i> :</span> <a href="https://wa.me/916309872424">+91 6309872424</a></p> -->
							 </div>
							<p><span class="collig"> <i class="fa fa-envelope" aria-hidden="true"></i> :</span> <a href="mailto:info@cloudbinary.in">info@cloudbinary.in</a></p>

							
							
						</div>
						
					</div>
					

				</div>
			</section>
		
		</div>
	</div>
	
</body>