<div class="question-col" >
  <div class="container">
    <h2
      class="text-white wow fadeInUp animated animated"
      style="visibility: visible"
    >
      Have a Question?
    </h2>
    <h6
      class="text-white wow fadeInDown animated animated"
      style="visibility: visible"
    >
      we help you go farther than you ever dreamed, 24/7.
    </h6>
    <div class="row justify-content-between pt-5">
      <div
        class="col-lg-3 col-md-5 col-sm-12 text-center contact px-0 wow fadeInUp animated animated"
        style="visibility: visible"
      >
        <img
          src="assets/questions-col/india.png"
          class="img-fluid"
          alt="Have a Question"
        />
        <h5 class="poppinsMedium fs18">
          <a class="fs18 text-white" href="tel:+910000000000">+91 9100073006 <br><br> +91 9392743006</a>
        </h5>
        <p class="poppinsMedium fs16 haveQuestionColor telTo">India</p>
      </div>
      <div
        class="col-lg-3 col-md-5 col-sm-12 text-center contact px-0 wow fadeInDown animated animated"
        style="visibility: visible"
      >
        <img
          src="assets/questions-col/india.png"
          class="img-fluid"
          alt="Have a Question"
        />
        <h5 class="poppinsMedium fs18">
          <a class="fs18 text-white" href="tel:+1000000000">+91 6309872424 <br><br> +91 9392753006 </a>
        </h5>
        <p class="poppinsMedium fs16 haveQuestionColor telTo">India</p>
      </div>

      <div
        class="col-lg-3 col-md-5 col-sm-12 text-center contact px-0 wow fadeInDown animated animated"
        style="visibility: visible"
      >
        <img
          src="assets/questions-col/mail.png"
          class="img-fluid"
          alt="Have a Question"
        />
        <h5 class="poppinsMedium fs16">
          <a href="mailto:info@cloudbinary.io" target="_top" class="mailto"
            >info@cloudbinary.io</a
          >
        </h5>
        <p class="fs18 text-white ">Email</p>
      </div>
      <div
        class="col-lg-3 col-md-5 col-sm-12 text-center contact px-0 wow fadeInUp animated animated"
        style="visibility: visible"
      >
        <img
          src="assets/questions-col/live_chat.png"
          class="img-fluid"
          alt="Have a Question"
        />
        <h5 class="fs18 text-white">LIVE CHAT</h5>
        <p class="poppinsMedium fs16 haveQuestionColor telTo">WhatsApp</p>
      </div>
    </div>
  </div>
</div>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
