<div class="question-col">
  <div class="container">
    <h2
      class="text-white wow fadeInUp animated animated"
      style="visibility: visible"
    >
      Have a Question?
    </h2>
    <h6
      class="text-white wow fadeInDown animated animated"
      style="visibility: visible"
    >
      we help you go farther than you ever dreamed, 24/7.
    </h6>
    <div class="row justify-content-between pt-5">
      <div
        class="col-lg-3 col-md-5 col-sm-12 text-center contact px-0 wow fadeInUp animated animated"
        style="visibility: visible"
      >
        <img
          src="assets/questions-col/india.png"
          class="img-fluid"
          alt="Have a Question"
        />
        <h5 class="poppinsMedium fs18">
          <a class="telTo" href="tel:+910000000000">+91 0000000000</a>
        </h5>
        <p class="poppinsMedium fs16 haveQuestionColor telTo">India</p>
      </div>
      <div
        class="col-lg-3 col-md-5 col-sm-12 text-center contact px-0 wow fadeInDown animated animated"
        style="visibility: visible"
      >
        <img
          src="assets/questions-col/usa.png"
          class="img-fluid"
          alt="Have a Question"
        />
        <h5 class="poppinsMedium fs18">
          <a class="telTo" href="tel:+1000000000">+1 000000000</a>
        </h5>
        <p class="poppinsMedium fs16 haveQuestionColor telTo">USA</p>
      </div>

      <div
        class="col-lg-3 col-md-5 col-sm-12 text-center contact px-0 wow fadeInDown animated animated"
        style="visibility: visible"
      >
        <img
          src="assets/questions-col/mail.png"
          class="img-fluid"
          alt="Have a Question"
        />
        <h5 class="poppinsMedium fs18">
          <a href="mailto:hello@cloudbinary.com" target="_top" class="mailto"
            >hello@cloudbinary.com</a
          >
        </h5>
        <p class="poppinsMedium fs16 haveQuestionColor telTo">Email</p>
      </div>
      <div
        class="col-lg-3 col-md-5 col-sm-12 text-center contact px-0 wow fadeInUp animated animated"
        style="visibility: visible"
      >
        <img
          src="assets/questions-col/live_chat.png"
          class="img-fluid"
          alt="Have a Question"
        />
        <h5 class="fs18 text-white">LIVE CHAT</h5>
        <p class="poppinsMedium fs16 haveQuestionColor telTo">LIVE CHAT</p>
      </div>
    </div>
  </div>
</div>
