<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- custom css file link  -->
</head>
<body>
    
<div class="text">
  

<div class="banner-container">

    <div class="banner">
        <div class="shoe">
            <img src="https://yt3.googleusercontent.com/HRJKaJg70sqBrCNh7Tf2RSjXTb_5hCUn7Hht7mxUJMg77EWkihh55JklD-KhwAMhwY31ox5O=s900-c-k-c0x00ffffff-no-rj" alt="">
        </div>
        <div class="content">
            <span>Join us for an hour</span>
            <h3>Career Guidance Workshop</h3>
            <p>on AWS & DevOps on May 2, 2024, at 08:30am IST</p>
            <p> <span style="text-decoration: line-through; text-decoration-color: red;"  >₹ 999/-</span> ₹ 0/-</p>
            <a href="https://wa.me/919100073006" class="btn">Register Now!!</a>
        </div>
        <div class="women">
            <img src="https://img.freepik.com/free-vector/organic-flat-people-business-training-illustration_23-2148911450.jpg" alt="">
        </div>
    </div>

</div>
