<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>

<body>

    <div class="container1">

                <div class="container">
                    <div class="left-side">
                        <div class="batch-info" style="color: #D0D3D9; font-size: medium;">
                            <i class="fas fa-calendar-alt calendar-icon" style="color: orange;"></i>
                            Next Batch Starts On Aug 22, 2024 Limited Seats Only!!
                        </div>
                        <br>
                        <!-- <div class="price price-crossed">₹ 69,999/-</div> -->
                        <!-- <div class="price">₹ 36,000/-</div><br> -->
                        <div class="mode">Free Webinar : 08:30am IST</div>
                        <div class="mode">Classroom & Online</div>
                        <div class="security-deposit">
                            Register Now!
                        </div>
                        <a href="https://us02web.zoom.us/meeting/register/tZUqde6orTsvHNweocZjUSb6QcvegEVyfRDD" class="enroll-button">Enroll Now</a>
                        <!-- <a href="https://razorpay.com/payment-link/plink_NqcYHA6Lcon5W2" class="enroll-button">Pay Now</a> -->
                    </div>

                    <div class="right-side">
                        <div class="perks">
                            <p style="font-weight: 900; font-size: x-large; margin-bottom: 40px;"></p>
                            <ul style="font-size: medium;">


                                <li><span class="fas fa-check check-icon"></span> Daily 1 Hr 30 Min</li>
                                <li><span class="fas fa-check check-icon"></span> 3 Months - Classroom & Online</li>
                                <li><span class="fas fa-check check-icon"></span> OS Module (Windows & Linux)</li>
                                <li><span class="fas fa-check check-icon"></span> Shell Scripting</li>
                                <li><span class="fas fa-check check-icon"></span> SQL</li>
                                <li><span class="fas fa-check check-icon"></span> Python</li>
                                <li><span class="fas fa-check check-icon"></span> AWS</li>
                                <li><span class="fas fa-check check-icon"></span> AWS AiOps CI/CD Pipelines</li>
                                <li><span class="fas fa-check check-icon"></span> DevSecOps</li>
                                <li><span class="fas fa-check check-icon"></span> FinOps</li>
                                <li><span class="fas fa-check check-icon"></span> AiOps</li>
                                <li><span class="fas fa-check check-icon"></span> MLOps</li>
                                <li><span class="fas fa-check check-icon"></span> SRE</li>
                                <li><span class="fas fa-check check-icon"></span> 3 Projects & Topic-Wise Quiz</li>
                            
                            </ul>
                  <!--          <div class="custom-button-div">
                                <button class="custom-button" (click)="openDialog()">Download Course Content</button>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>


</body>

</html>
