<div>
<h2>Get Certified. Get Hired.</h2>
<div class="certificates-container">
    <div class="certificate-buttons">
      <button class="awscoursebtn" (click)="showCertificate('course')">Course Completion</button>
      <button class="awscoursebtn" (click)="showCertificate('internship')">Internship </button>
  <!--    <button class="awscoursebtn" (click)="showCertificate('aws')">AWS</button> -->
    </div>
  
    <div *ngIf="certificateType === 'course'" class="certificate">
      <!-- Content for Course Completion Certificate -->
      <img src="assets/certificates/course_cert.svg" alt="Course Completion Certificate">
    </div>
  
    <div *ngIf="certificateType === 'internship'" class="certificate">
      <!-- Content for Internship Certificate -->
      <img src="assets/certificates/intership_cert.svg" alt="Internship Certificate">
    </div>
  
   <!--  <div *ngIf="certificateType === 'aws'" class="certificate">
      Content for AWS Certificate 
      <img src="" alt="AWS Certificate">
    </div>-->
  </div>
</div>