
<div>
<style>

  .ct-footer-post {
    background: #38b6ff;
   padding-top: 4px ;
   height: 38px;
    
    
}

.ct-footer-post .inner-left,
.ct-footer-post .inner-right {
    padding: 0px 0
}

.ct-footer-post ul {
    list-style: none;
    padding-left: 0;
    margin: 0 -20px;
}

.ct-footer-post ul li {
    display: inline-block;
    margin: 0 20px;
    
}

.ct-footer-post a {
    color: #0e0d0d;
}

.ct-footer-post a:hover {
    text-decoration: underline
}

.ct-footer-post p {
    color: #090909;
}

@media (min-width:768px) {
    .ct-footer-post p {
        display: inline-block
    }
    .ct-footer-post p + p {
        padding-left: 50px
    }
}

@media (min-width:992px) {
    .ct-footer-post .inner-left {
        float: left
    }
    .ct-footer-post .inner-right {
        float: right
    }
}

@media (max-width:991px) {
    .ct-footer-post {
        text-align: center
    }
}

</style>

<div class="ct-footer-post" >
  <div class="container" >
      <div class="inner-left" >
          <ul>
            <li class="d-inline-block" style="margin-left: 8px;">
                <a href="https://www.instagram.com/cloudbinary_devops/" class="fs24" target="_blank">
                    <i class="fa fa-whatsapp" style="font-size:24px;margin-top: 2px;"></i>
                    
                </a>
              <li class="d-inline-block" style="padding-left: 0px;"> <a href="https://api.whatsapp.com/send?phone=+916309872424">  +91 9100073006</a>              
              </li>
              <li class="d-inline-block">
                +91 9392743006
              </li>
              <li class="d-inline-block">
                +91 6309872424
              </li>
              <li class="d-inline-block">
               +91 9392753006
              </li>
          </ul>
      </div>
      
  </div>
</div>




<style>

  .ct-footer-post1 {
    background: #ffffff;
    padding: 10px 0;
}

.ct-footer-post1 .inner-left,
.ct-footer-post1 .inner-right {
    padding: 0px 0
}

.ct-footer-post1 ul {
    list-style: none;
    padding-left: 0;
    margin: 0 -20px;
}

.ct-footer-post1 ul li {
    display: inline-block;
    margin: 0 20px;
    
}

.ct-footer-post1 a {
    color: #0e0d0d;
}

.ct-footer-post1 a:hover {
    text-decoration: underline
}

.ct-footer-post1 p {
    color: #090909;
}

@media (min-width:768px) {
    .ct-footer-post1 p {
        display: inline-block
    }
    .ct-footer-post1 p + p {
        padding-left: 50px
    }


}

@media (min-width:992px) {
    .ct-footer-post1 .inner-left {
        float: left
    }
    .ct-footer-post1 .inner-right {
        float: right
    }
}

@media (max-width:991px) {
    .ct-footer-post1 {
        text-align: center
    }
    .ct-footer-post{
    height: unset;
}
}


</style>






  
      <div class="ct-footer-post1">
        <div class="container">
            <div class="inner-left" >
                <ul>
                    <li >
                        <a >Follow us</a>
                    </li>
                    <li class="d-inline-block" style="padding-left: 0px; margin-right: 0px; margin-left: 0px;" >
                      <a href="https://www.linkedin.com/company/cloudbinary/" class="fs24" target="_blank">
                        <i class="fa fa-linkedin"></i>
                      </a>
                    </li>
                    <li class="d-inline-block" style="margin-left: 8px;">
                      <a href="https://www.instagram.com/cloudbinary_devops/" class="fs24" target="_blank">
                        <i class="fa fa-instagram"></i>
                      </a>
                    </li>
                </ul>
            </div>
            <div class="inner-right">
                <p>
                    Copyright © 2023 Cloud &nbsp;<a href="">Binary</a>
                </p>
                <p>
                    <a class="ct-u-motive-color" href="" target="_blank">Web Design</a> by Cloud Binary <a href="" target="_blank"></a>
                </p>
            </div>
        </div>
    </div>
  