<div class="footer footerwhite" style="background-color: #ffffff !important; color: white !important; padding-top: 20px;"
>
  <div class="container">
    <div class="row">
      <div class="col-md-3 text-center">
        <a href="index.html">
          <img
            src="assets/footer/cloudbinary_white_bg.jpeg"
            alt="Logo"
            class="flogo"
            style="height: 89px"
      
        /></a>
        <div
          class="social_icons wow fadeInUp animated animated"
          style="visibility: visible; color: black;"
        >
          <p>Follow us on</p>
          <ul>
  <li class="d-inline-block">
    <a href="https://www.facebook.com/digitallync/" class="fs24" target="_blank">
      <i class="fa fa-facebook"></i>
    </a>
  </li>
  &nbsp;&nbsp; <!-- Add non-breaking space here -->
  <li class="d-inline-block">
    <a href="https://twitter.com/digitallync?lang=en" class="fs24" target="_blank">
      <i class="fa fa-twitter"></i>
    </a>
  </li>
  &nbsp;&nbsp; <!-- Add non-breaking space here -->
  <li class="d-inline-block">
    <a href="https://www.linkedin.com/company/cloudbinary/" class="fs24" target="_blank">
      <i class="fa fa-linkedin"></i>
    </a>
  </li>
  &nbsp;&nbsp; <!-- Add non-breaking space here -->
  <li class="d-inline-block">
    <a href="https://www.instagram.com/cloudbinary_devops/" class="fs24" target="_blank">
      <i class="fa fa-instagram"></i>
    </a>
  </li>
</ul>

        </div>
      </div>
<!--
      <div class="col-md-3">
        <h5>Cloud Binary</h5>
        <ul class="fmenu">
          <li><a href="career.html"> Career Support</a></li>
          <li class="onp"><a href="online-pay.html"> Online Pay</a></li>
        </ul>
      </div> -->

      <div class="col-md-3">
        <h5>Courses</h5>
        <ul class="fmenu">
         <!-- <li>
             <a href="full-stack-training-in-hyderabad.html"> Full Stack</a> 
          </li> -->
          <li><a href="aws-training-in-hyderabad.html"> AWS</a></li>
          <!-- <li><a href="python-training-in-hyderabad.html"> Python</a></li> -->
          <li><a href="devops-training-in-hyderabad.html"> DevOps</a></li>
          <li><a href="angular-training-in-hyderabad.html"> ML Ops</a></li>
          <!-- <li><a href="react-training-in-hyderabad.html"> React Js</a></li> -->
        </ul>
      </div>

      <div class="col-md-3" style="font-family:Quicksand"  >
        <h5>Programs</h5>
        <ul class="fmenu">
          <li>
            <a href="job-ready-program.html">
              <strong> Intense Program </strong></a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>



