

<div style="background-color: #38b6ff; padding: 30px; margin-top: 90px; ">
  <div class="container">
    <div class="row" style="display: flex; flex-wrap: nowrap; margin-right: -15px; margin-left: -98px; justify-content: space-evenly;">
      <div class="text-center">
        <a href="index.html">
          <img src="assets/footer/logo1.png" alt="Logo" class="flogo" style="height: 110px; padding-top: 10px; margin: -7px;">
        </a>
      </div>

      <div id="contact" style="color: white;">
        <h5 style="font-weight: 600; color: white;">Chat With Us</h5>
        <ul style="list-style-type: none;  color: white;">
          <li style="padding-bottom: 5px;  color: white ;  "><a href="https://wa.me/919100073006" style="color: white ;">+91 9100073006</a></li>
        </ul>
      </div>

      <div>
        <h5 style="font-weight: 600; color: white;">Courses</h5>
        <ul class="fmenu" style="list-style-type: none; color: white;">
          <li><a href="#aws" style="color: white;">AWS DevOps</a></li>
          <li><a href="#aws" style="color: white;">MLOps <div class="flag" style="font-size: x-small; color: black;">Coming Soon!📢</div></a></li>
        </ul>
      </div>

      <div>
        <h5 style="font-weight: 600; color: white;">Programs</h5>
        <ul class="fmenu" style="list-style-type: none;">
          <li><a href="#intense_prog" style="color: white;">Job Ready Program</a></li>
        </ul>
      </div>

      <div style="visibility: visible">
        <h5 style="font-weight: 600; color: white;">Follow us on</h5>
        <ul>
          <li class="d-inline-block">
            <a href="https://facebook.com/profile.php/?id=100070177122510" class="fs24" target="_blank" style="color: white;">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          &nbsp;&nbsp;
          <li class="d-inline-block">
            <a href="https://www.linkedin.com/company/cloudbinary/" class="fs24" target="_blank" style="color: white;">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
          &nbsp;&nbsp;
          <li class="d-inline-block">
            <a href="https://www.instagram.com/cloudbinary_devops/" class="fs24" target="_blank" style="color: white;">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
          <li class="d-inline-block" style="padding-left: 20px;">
            <a href="https://www.youtube.com/@cloudbinary" class="fs24" target="_blank" style="color: white;">
              <i class="fa fa-youtube-play"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <hr style="border: 0.05px solid #fff; margin-top: 18px;">
    <div class="ct-footer-post1">
      <div class="container">
        <div class="inner-left">
          <a href="https://www.cloudbinary.io/privacy-policy" style="color: white;">Privacy | Site Terms | Cookie Preferences</a>
        </div>
        <div></div>
        <div class="inner-right">
          <p style="color: white;">Copyright © 2023 Cloud Binary</p>
          <p>
            <a class="ct-u-motive-color" href="" target="_blank" style="color: white;">Web Design by Cloud Binary </a> <a href="" target="_blank" style="color: white;"></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
