<div class="pad_t8_b5">
  <div class="firstlearn">
    <div class="container">
      <h2>First-Ever <span>Hybrid Learning System</span></h2>
      <p>
        Enjoy the flexibility of selecting online or offline classes with
        Digital-Lync first-ever hybrid learning model.<br />
        Get the fruitful chance of choosing between the privilege of learning
        from home or the<br />
        advantage of one-on-one knowledge gaining - all in one place.
      </p>
      <div class="row pad_t50">
        <div class="col-md-5">
          <img
            src="https://www.digital-lync.com/images/learnhome.svg"
            alt="Learn From Home"
            class="wow fadeInDown animated animated animated"
            style="visibility: visible"
          />
          <h3>Learn from Home</h3>
          <p>
            Why leave the comfort and safety of your home when you can learn the
            eminent non-technical courses right at your fingertips? Gig up to
            upskill yourself from home with Digital-Lync online courses.
          </p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
          <img
            src="https://www.digital-lync.com/images/learnclass.svg"
            alt="Learn From Home"
            class="wow fadeInDown animated animated animated"
            style="visibility: visible"
          />
          <h3>Learn from Classroom</h3>
          <p>
            Exploit the high-tech face-to-face learning experience with esteemed
            professional educators at Digital-Lync. Our well-equipped, safe, and
            secure classrooms are waiting to get you on board!
          </p>
        </div>
        <div
          class="or wow fadeInUp animated animated animated"
          style="visibility: visible"
        >
          <span>OR</span>
        </div>
      </div>
    </div>
  </div>
</div>
