<div class="pad_t8_b5 hybrid-learning">
  <div class="firstlearn">
    <div class="container">
      <h2 class="heading">Now! <span>Learning at your comfort</span></h2>
      <p>
        Enjoy the flexibility of selecting online or offline classes at your comfort with
        CloudBinary.
        <br />
        Get the fruitful chance of choosing between the privilege of learning
        from home or the
        <br />
        advantage of one-on-one knowledge gaining - all in one place.
      </p>
      <div class="row justify-content-center pad_t50">
        <div class="col-md-5">
          <img
            src="assets/hybrid-learning/any.png"
            alt="Learn From Home"
            class="wow fadeInDown animated animated animated"
            style="visibility: visible;"
          />
          <h3 style="padding-top: 45px;">Learn from Anywhere</h3>
          <p>
            Discover the flexibility of learning from anywhere with our online courses. Access education on your terms, anytime, and anywhere you choose.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
.firstlearn .col-md-5 img {
  height: 250px;
}

.hybrid-learning, .hybrid-learning .firstlearn {
  padding-top: 0;
}

.firstlearn h2, .firstlearn .heading span {
  font-size: xxx-large;
  color: #172342;
  text-shadow: 1px 1px 2px black !important;
}

@media screen and (max-width: 768px) {
  .firstlearn h2, .firstlearn .heading span {
    font-size: 30px;
  }
}

.hybrid-learning p {
  color: black;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 589;
}

.hybrid-learning h3 {
  color: #172342;
}
</style>






<!-- <div class="pad_t8_b5 hybrid-learning">
  <div class="firstlearn">
    <div class="container">
      <h2 class="heading">Now! <span>Learning at your comfort</span></h2>
      <p>
        Enjoy the flexibility of selecting online or offline classes at your comfort with
        CloudBinary.
        <br />
        Get the fruitful chance of choosing between the privilege of learning
        from home or the
        <br />
        advantage of one-on-one knowledge gaining - all in one place.
      </p>
      <div class="row pad_t50"> 
        <div class="col-md-5">
          <img
            src="assets/hybrid-learning/class.png"
            alt="Learn From Home"
            class="wow fadeInDown animated animated animated"
            style="visibility: visible "
          />
          <h3 style="padding-top: 46px;">Learn from Classroom</h3>
          <p>
            Join us at CloudBinary for a high-tech, in-person learning experience with expert educators in safe and equipped classrooms. Get ready to learn and excel!.
          </p>
        </div>
        <div class="col-md-2"></div> -->
     <!--   <div class="col-md-5">
          <img
            src="assets/hybrid-learning/any.png"
            alt="Learn From Home"
            class="wow fadeInDown animated animated animated"
            style="    visibility: visible;"
          />
          <h3 style="padding-top: 45px;">Learn from Anywhere</h3>
          <p>
            Discover the flexibility of learning from anywhere with our online courses. Access education on your terms, anytime, and anywhere you choose.
          </p>
        </div>
       <div
          class="or wow fadeInUp animated animated animated"
          style="visibility: visible"
        >
          <span style="color: #172342;">OR</span>
        </div> 
      </div>
    </div>
  </div>
</div> -->
