<div class="pad_t8_b5">
  <div class="firstlearn">
    <div class="container">
      <h2>First-Ever <span>Hybrid Learning System</span></h2>
      <p>
        Enjoy the flexibility of selecting online or offline classes with
        CloudBinary first-ever hybrid learning model.<br />
        Get the fruitful chance of choosing between the privilege of learning
        from home or the<br />
        advantage of one-on-one knowledge gaining - all in one place.
      </p>
      <div class="row pad_t50">
        <div class="col-md-5">
          <img
            src="assets/hybrid-learning/learnhome.svg"
            alt="Learn From Home"
            class="wow fadeInDown animated animated animated"
            style="visibility: visible"
          />
          <h3>Learn from Classroom</h3>
          <p>
            Join us at CloudBinary for a high-tech, in-person learning experience with expert educators in safe and equipped classrooms. Get ready to learn and excel!.
          </p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
          <img
            src="assets/hybrid-learning/learnclass.svg"
            alt="Learn From Home"
            class="wow fadeInDown animated animated animated"
            style="visibility: visible"
          />
          <h3>Learn from Anywhere</h3>
          <p>
            Discover the flexibility of learning from anywhere with our online courses. Access education on your terms, anytime, and anywhere you choose.
          </p>
        </div>
        <div
          class="or wow fadeInUp animated animated animated"
          style="visibility: visible"
        >
          <span>OR</span>
        </div>
      </div>
    </div>
  </div>
</div>
