<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>

<body>

    <div class="container1">

        <div class="container">
            <div class="left-side">
                <div class="batch-info" style="color: #D0D3D9; font-size: medium;">
                    <i class="fas fa-calendar-alt calendar-icon" style="color: orange;"></i>
                    DevSecOps Tools:
                    <br><br>
                    OS Module - Win & Unix/Linux
                    <br><br>
                    Shell Scripting
                    <br><br>
                    DevSecOps Tools : Git, GitHub, Jenkins, SonarQube, JFrog, Tomcat, Ansible, Docker, K8s, & NewRelic
                    <br><br>
                    AWS Certified Cloud Practitioner
                    <br><br>
                    AWS Certified SysOps Administrator - Associate
                    <br><br>
                    AWS Certified DevOps Engineer - Professional
    </div>        
                
                        <!-- <div class="security-deposit">
                            Register Now!
                        </div> -->
                        <!-- <div class="security-deposit">
                            Register Now!
                        </div> -->
                        <!-- <a href="https://us02web.zoom.us/meeting/register/tZEtfuuvrTwpGdKoG-EG70ww8b1p0xBqA3-4" class="enroll-button">Enroll Now</a> -->
                        <!-- <a href="https://razorpay.com/payment-link/plink_NqcYHA6Lcon5W2" class="enroll-button">Pay Now</a> -->
                    </div>

                    <div class="right-side">
                        <div class="perks">
                            <p style="font-weight: 900; font-size: x-large; margin-bottom: 40px;"></p>
                            <ul style="font-size: medium;">
                                <li><span class="fas fa-check check-icon"></span> DevOps</li>
                                <li><span class="fas fa-check check-icon"></span> DevOps CI/CD Pipeline</li>
                                <li><span class="fas fa-check check-icon"></span> DevSecOps</li>
                                <li><span class="fas fa-check check-icon"></span> Topic-wise Quiz</li>
                                <li><span class="fas fa-check check-icon"></span> Mock Interviews</li>
                                <li><span class="fas fa-check check-icon"></span> 6 Projects</li>
                                <li><span class="fas fa-check check-icon"></span> Resume Grooming Session</li>
                                <li><span class="fas fa-check check-icon"></span> 100% Placement Guidance</li>
                            
                            </ul>
                  <!--          <div class="custom-button-div">
                                <button class="custom-button" (click)="openDialog()">Download Course Content</button>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>


</body>

</html>
