<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>

<body>

    <div class="container1">


                <div class="container">
                    <div class="left-side">
                        <div class="batch-info" style="color: #D0D3D9; font-size: medium;">
                            <i class="fas fa-calendar-alt calendar-icon" style="color: orange;"></i>
                            Next Batch Starts On Nov 26, 2024 Limited Seats Only!!
                        </div>
                        <br>
                        <!-- <div class="price price-crossed">₹ 46,000/-</div>  -->
                        <!-- <div class="price">₹ 9,999/-</div><br> -->
                        <!-- <div class="price">₹ 46,000/-</div><br> -->
                        <div class="mode">Free Webinar : 9 AM IST</div>
                        <div class="mode">Online</div>
                        <div class="security-deposit">
                            Register Now!
                        </div>
                        <!-- <a href="" class="enroll-button">Enroll Now</a> -->
                        <!-- <a href="https://us02web.zoom.us/meeting/register/tZUlf-moqjosH9KO05ZQ1rdoUwREQn6eFGmM" class="enroll-button">Enroll Now</a> -->
                        <a href="https://wa.me/919100073006" class="floating" target="_blank" class="enroll-button">Enroll Now</a>
                        <!-- <a href="https://us02web.zoom.us/meeting/register/tZwvdO6opjsoG9WBOuT5BSFlfgsVmuuJI7hP" class="enroll-button">Enroll Now</a> -->
                        <!-- <a href="https://razorpay.com/payment-link/plink_NqcOG10BpDQwk8" class="enroll-button">Pay Now</a> -->
                    </div>

                    <div class="right-side">
                        <div class="perks">
                            <p style="font-weight: 900; font-size: x-large; margin-bottom: 40px;"></p>
                            <ul style="font-size: medium;">
                                <!-- <li><span class="fas fa-check check-icon"></span> Flexera</li>
                                <li><span class="fas fa-check check-icon"></span> CloudHealth</li>
                                <li><span class="fas fa-check check-icon"></span> IBM Apptio</li>
                                <li><span class="fas fa-check check-icon"></span> ParkMyCloud</li>
                                <li><span class="fas fa-check check-icon"></span> Turbonomic</li>
                                <li><span class="fas fa-check check-icon"></span> Power BI</li>
                                <li><span class="fas fa-check check-icon"></span> Tableau</li>
                                <li><span class="fas fa-check check-icon"></span> AWS - Azure & GCP</li> -->
                                <li><span class="fas fa-check check-icon"></span>What is FinOps?</li>
                                <li><span class="fas fa-check check-icon"></span>FinOps Teams & Culture</li>
                                <li><span class="fas fa-check check-icon"></span>Personas & Motivations</li>
                                <li><span class="fas fa-check check-icon"></span>Anatomy of the Cloud Bill</li>
                                <li><span class="fas fa-check check-icon"></span>Adopting & Maturing FinOps</li>
                                <li><span class="fas fa-check check-icon"></span>FinOps Framework</li>
                                <li><span class="fas fa-check check-icon"></span>FinOps Domains & Capabilities</li>
                                <li><span class="fas fa-check check-icon"></span>Data in the Path</li>
                                <li><span class="fas fa-check check-icon"></span>Inform Phase</li>
                                <li><span class="fas fa-check check-icon"></span>Optimize Phase</li>
                                <li><span class="fas fa-check check-icon"></span>Operate Phase</li>
                                <li><span class="fas fa-check check-icon"></span>Resources & Review</li>
                              
                            </ul>
                  <!--          <div class="custom-button-div">
                                <button class="custom-button" (click)="openDialog()">Download Course Content</button>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>

</body>

</html>
