<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>

<body>

    <div class="container1">


                <div class="container">
                    <div class="left-side">
                        <div class="batch-info" style="color: #D0D3D9; font-size: medium;">
                            <i class="fas fa-calendar-alt calendar-icon" style="color: orange;"></i>
                            Next Batch Starts On MAY 28, 2024 Limited Seats Only!!
                        </div>
                        <br>
                        <!-- <div class="price price-crossed">₹ 17,999/-</div>  -->
                        <!-- <div class="price">₹ 9,999/-</div><br> -->
                        <div class="price">₹ 17,999/-</div><br>
                        <div class="mode">Classroom & Online</div>
                        <div class="security-deposit">
                            Register Now!
                        </div>
                        <a href="https://us02web.zoom.us/meeting/register/tZ0qf-ivqD0uHdaHUCixMz3X4h3sTK7TQCh-" class="enroll-button">Enroll Now</a>
                        <!-- <a href="https://razorpay.com/payment-link/plink_NqcOG10BpDQwk8" class="enroll-button">Pay Now</a> -->
                    </div>

                    <div class="right-side">
                        <div class="perks">
                            <p style="font-weight: 900; font-size: x-large; margin-bottom: 40px;"></p>
                            <ul style="font-size: medium;">
                                <li><span class="fas fa-check check-icon"></span> Daily 1 Hr</li>
                                <li><span class="fas fa-check check-icon"></span> 2 Months</li>
                                <li><span class="fas fa-check check-icon"></span> OS Module (Windows & Linux)</li>
                                <li><span class="fas fa-check check-icon"></span> AWS</li>
                                <li><span class="fas fa-check check-icon"></span> DevOps</li>
                                <li><span class="fas fa-check check-icon"></span> Real-Time Training from Certified Trainers</li>
                                <li><span class="fas fa-check check-icon"></span> Topic-wise Quiz</li>
                                <li><span class="fas fa-check check-icon"></span> Mock Interviews</li>
                                <li><span class="fas fa-check check-icon"></span> 6+ Projects</li>
                                <li><span class="fas fa-check check-icon"></span> Resume Grooming Session</li>
                                <!-- <li><span class="fas fa-check check-icon"></span> Naukri & LinkedIn Account Creation & Optimization</li> -->
                                <!-- <li><span class="fas fa-check check-icon"></span> Placement Assistance</li> -->
                                <!-- <li><span class="fas fa-check check-icon"></span> Recruitment and Hiring Details Shared</li> -->
                            </ul>
                  <!--          <div class="custom-button-div">
                                <button class="custom-button" (click)="openDialog()">Download Course Content</button>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>

</body>

</html>
