
<div style="height:60px"></div>

<div id="section1">


<div class="container" style="padding-top: 60px;">
    <div class="left-column">
        <h1 style="font-size: xxx-large;
        font-family: 'DM Serif Display',serif;;">AWS Certified DevOps Engineer</h1> <br>
        <h2>Join. Learn by Doing. Get Hired | Live Bootcamp With Placement Assistance</h2>
       <div class="feature-container">
<div class="feature-icon"><img src="assets/key-features/aws/1.svg" style="width: 573px;" alt="Feature 1"></div>
<div class="feature-icon"><img src="assets/key-features/aws/2.svg" style=" width: 484px;;" alt="Feature 2"></div>
<div class="feature-icon"><img src="assets/key-features/aws/3.svg"  alt="Feature 3"></div>
<div class="feature-icon"><img src="assets/key-features/aws/4.svg" style="width: 530px;" alt="Feature 4"></div>
</div>
<br>

<div style="padding-left: 10px;">
  <button class="awscoursebtn" (click)="scrollToTrendingCourses()">Course Content</button>

</div>


    </div>
    <div class="right-column">
        
        <div class="form">
         <form action="" method="post">
<label for="name">Name:</label>
<input type="text" id="name" name="name" required>
<label for="email">Email:</label>
<input type="email" id="email" name="email" required>
<label for="phone">Phone Number:</label>
<input type="tel" id="phone" name="phone" required>
<label for="experience">Experience Level:</label>
<select id="experience" name="experience">
    <option value="Fresher">Fresher</option>
    <option value="1-3 years">1-3 years</option>
    <option value="3-5 years">3-5 years</option>
    <option value="5-8 years">5-8 years</option>
    <option value="8+ years">8+ years</option>
</select>
<label for="course-interest">Course Interested:</label>
<textarea id="course-interest" name="course-interest" rows="2" cols="30" required></textarea>
<input type="submit" value="Request Callback">
</form>



        </div>
    </div>
</div>

<div class="banner">
    <div>
      <p >Our Upcoming Demo?</p> <br>
      <p style="font-size: x-large;">8:30am IST On 7th & 8th Nov 2023</p>
    </div>
    
    <div>
      <p>Next Batch Starts On</p> <br>
      <p style="font-size: x-large;">November 9, 2023</p>
    </div>
    <div>
      <p>Register now for a free demo!</p><br>
      <p style="font-size: x-large;"></p>
      <a href="https://us02web.zoom.us/webinar/register/WN_X2nGjyL9RvG67sKv70Y-uQ" target="_blank" style="color: rgb(243, 94, 7)">Click here to register</a>
    </div>
  </div>


  <div id="trending-courses">
    <trending-courses  ></trending-courses>
</div>

</div>