<div class="locations">
  <div class="container text-center">
    <h2
      class="heading-7 wow fadeInUp animated animated"
      style="visibility: visible"
    >
      Locations
    </h2>
    <h6
      class="heading-8 wow fadeInDown animated animated"
      style="visibility: visible"
    >
      Come and chat with us about your goals over a cup of coffee
    </h6>
    <div class="pad_t30">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div
            class="card cursorPointer wow fadeInUp animated animated"
            style="visibility: visible"
          >
            <img
              src="assets/locations/hyderabadLocation.jpg"
              class=""
              alt="Locations"
            />
            <div class="card-body">
              <h5 class="">Beside T-Hub Hyderabad</h5>
              <p class="">
                Hi-Tech City,
                Hyderabad, Telangana, India
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
