<h1>Welcome</h1>
<div class="generic-block section" style="background-color: #271f5d">
  <div class="generic-block-wrapper">
    <div class="column-block">
      <div class="datacard">
        <div class="title2 section">
          <h6
            class="title--pink"
            style="
              color: #ff1675;
              font-size: 18px;
              text-transform: unset;
              letter-spacing: unset;
              margin: 0 0 20px 0;
            "
          >
            The leader in cloud learning
          </h6>
        </div>
        <div class="title2 section">
          <h1
            class="desk-font-size-3"
            style="
              color: #fff;
              line-height: 43px;
              font-size: 48px;
              margin: 0 0 20px 0;
            "
          >
            Create a culture of cloud innovation
          </h1>
        </div>
        <div class="text-4 text section">
          <p
            style="
              color: #fff;
              margin-bottom: 20px;
              font-size: 17px;
              line-height: 1.4;
            "
          >
            Accelerate cloud success with hands-on learning at scale. Upskill 10
            or 10,000 with the most comprehensive and up-to-date learning
            library.
          </p>
        </div>
        <div
          style="
            display: grid;
            grid-gap: 10px;
            grid-template-columns: auto auto;
            justify-content: start;
          "
        >
          <app-button-chooser
            buttonStyle="button3"
            buttonName="View plans"
            (click)="abc()"
          ></app-button-chooser>
          <app-button-chooser
            buttonStyle="OutlineButtonImg"
            iconPath="../assets/icon-images/play-icon.webp"
            buttonName="Watch video"
            (click)="abc()"
          ></app-button-chooser>
        </div>
      </div>
    </div>
    <div class="column-block">
      <img
        src="https://www.pluralsight.com/content/dam/pluralsight2/cloud-guru/cloud-home-hero.webp"
        style="
          letter-spacing: normal;
          --sa-uid: '';
          --vh: 6.91px;
          cursor: auto;
          font-style: normal;
          font-weight: normal;
          line-height: 1.5;
          -webkit-font-smoothing: antialiased;
          font-size: 0.875em;
          font-family: 'PS Commons';
          color: #eee !important;
          box-sizing: inherit;
          max-width: 100%;
          height: auto;
          display: inline-block;
          vertical-align: middle;
          max-height: 448px;
        "
      />
    </div>
  </div>
</div>

<router-outlet> </router-outlet>

<app-button-chooser
  buttonStyle="button1"
  buttonName="Basic Button"
  (click)="abc()"
></app-button-chooser>

<app-button-chooser
  buttonStyle="button2"
  buttonName="Gradient Button"
  (click)="abc()"
></app-button-chooser>
<!-- Rounded Button -->

<app-button-chooser
  buttonStyle="button4"
  buttonName="Outline Button"
  (click)="abc()"
></app-button-chooser>

<app-button-chooser
  buttonStyle="button5"
  buttonName="Icon Button"
  (click)="abc()"
></app-button-chooser>
<app-button-chooser
  buttonStyle="button6"
  buttonName="Animated Button"
  (click)="abc()"
></app-button-chooser>
