<!-- Main Content -->
<div class="content">
  <div class="header" style="padding-left: 30px; height: 40px; position: fixed;" *ngIf="!isScreenSmall">
    <a href="index.html" class="logo_link">
      <img
        src="assets/footer/nobg.png"
        alt="Logo"
        class="flogo"
        style="width: 70px;"
    />
    <div>
      <div style="font-weight: 600;
      font-size: 23px;margin-bottom: -5px;">Cloud Binary</div>
     <!-- <div style="font-size: 18px;">Learn by Doing</div>-->
    </div>
  </a> 
    <a href="./src/assets/footer/cloudbinary_white_bg1.png" class="logo"></a>
    <div class="header-right">
      <a  href="#awsdevops">AWS DEVOPS</a>
      <a href="#mlops">MLOPS</a>   
      <a class="active" href="#contactus">Contact Us</a>
    </div>
  </div>
  <div class="header" style="padding-left: 30px; height: 40px; position: fixed; display:flex; justify-content: flex-start;" *ngIf="isScreenSmall">
    <a href="index.html" class="logo_link" style="    display: flex;
    flex-direction: row;">
      <img
        src="assets/footer/nobg.png"
        alt="Logo"
        class="flogo"
        style="width: 70px;"
    />
    <div>
      <div style="font-weight: 600;
      font-size: 23px;margin-bottom: -5px;">Cloud Binary</div>
      <!-- <div style="font-size: 18px;">Learn by Doing</div> -->
      
    </div>
  </a> 
    <div class="header-right">
      <button (click)="toggleSidenav()">
        <i class="fa fa-bars"></i> <!-- Font Awesome "bars" icon -->
      </button>
    </div>
  </div>
  
  <router-outlet></router-outlet>
</div>

<!-- Sidenav -->
<div class="header__backdrop" [class.open]="sidenavOpen"></div>
<div class="sidenav" [class.open]="sidenavOpen">
  <!-- Your sidenav content goes here -->
  <a routerLink="/awsdevops">AWS DEVOPS</a>
  <a routerLink="/mlops">MLOPS</a>
  <a routerLink="/contactus">Contact Us</a>
</div>

<!-- <app-button-chooser
  buttonStyle="button1"
  buttonName="Basic Button"
  (click)="abc()"
></app-button-chooser>

<app-button-chooser
  buttonStyle="button2"
  buttonName="Gradient Button"
  (click)="abc()"
></app-button-chooser>

<app-button-chooser
  buttonStyle="button4"
  buttonName="Outline Button"
  (click)="abc()"
></app-button-chooser>

<app-button-chooser
  buttonStyle="button5"
  buttonName="Icon Button"
  (click)="abc()"
></app-button-chooser>
<app-button-chooser
  buttonStyle="button6"
  buttonName="Animated Button"
  (click)="abc()"
></app-button-chooser>
<app-button-chooser
  buttonStyle="button7"
  buttonName="box-shadow"
  (click)="abc()"
></app-button-chooser>
<app-button-chooser
  style="margin: 15px"
  buttonStyle="button9"
  buttonName="dual-color"
  (click)="abc()"
></app-button-chooser>
<app-button-chooser
  style="margin: 15px"
  buttonStyle="button11"
  buttonName="liquid-filling"
  (click)="abc()"
></app-button-chooser>
<app-button-chooser
  style="margin: 15px"
  buttonStyle="button8"
  buttonName="gradient-colors"
  (click)="abc()"
></app-button-chooser>
<app-button-chooser
  buttonStyle="button10"
  buttonName="border-animation"
  (click)="abc()"
></app-button-chooser>
<app-button-chooser
  style="margin: 10px"
  buttonStyle="button12"
  buttonName="border-animation2"
  (click)="abc()"
></app-button-chooser> -->
