<head>
  <meta charset="utf-8">
  <title>Cloud Binary</title>
  <base href="/">
  <link rel="canonical" href="https://www.cloudbinary.io">
  <meta name="google-site-verification" content="N9_toQ-CgRmLkM6T06FH0x94NqlsdM1gxtOPD-TY8Do" />

  <!-- Meta Tags for SEO -->
  <meta name="description" content="Get certified with our comprehensive online training on AWS DevOps & MLOps: real-time sessions, 6-month internship, quizzes, interview prep, projects, and more!">
  <meta name="keywords" content="edtech, AWS, DevOps, online learning, hybrid training ,certification, hands-on training, technology, mentorship">
  <meta name="author" content="Cloud Binary">
  <meta name="robots" content="index, follow">

  <!-- OpenGraph meta tags for social media -->
  <meta property="og:title" content="Learn AWS DevOps | Cloud Binary">
  <meta property="og:description" content="Hands-on, certification-oriented training in AWS & DevOps. Gain practical experience with real-world projects. Talk to our mentors for more information.">
  <meta property="og:image" content="https://www.cloudbinary.io/home">
  <meta property="og:url" content="https://www.cloudbinary.io">

  <!-- Viewport settings -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/intro/newlogo.png">
</head>

<!-- Main Content -->
<!-- Google Tag Manager (noscript) -->
<noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WDC9D8TC" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="content">
  <div class="header" style=" height: 100px; position: fixed;" *ngIf="!isScreenSmall">
    <a href="" class="logo_link logo">
      <img src="assets/intro/newlogo.png" alt="Cloud Binary Logo" class="flogo" style="width: 100px; padding-top: 6px; " />
    </a>

    <div class="header-right">
      <a routerLink="/home">Home </a>
      <a [routerLink]="['/aws']" routerLinkActive="router-link-active">AWS</a>
      <a [routerLink]="['/azure-devops']" routerLinkActive="router-link-active">Azure DevOps</a>
      <a [routerLink]="['/data-analyst']" routerLinkActive="router-link-active">Data Analyst </a>
      <!-- <a [routerLink]="['/finops']" routerLinkActive="router-link-active"> FinOps
        <span style="color: orange; font-size: 12px;"></span>
      </a> -->
      <a [routerLink]="['/blogs']" routerLinkActive="router-link-active">Blogs </a>
      <a class="active special-hover" [routerLink]="['/contactus']" routerLinkActive="router-link-active" style="padding: 9px;">Contact Us</a>
    </div>
  </div>

  <div class="header" style=" height: 40px; position: fixed; display:flex; justify-content: space-between;" *ngIf="isScreenSmall">
    <a [routerLink]="['/home']" routerLinkActive="router-link-active" class="logo_link logo" style="display: flex;flex-direction: row;">
      <img src="assets/intro/CBMV.png" alt="Cloud Binary Logo for Mobile View" class="flogo" style="width: 185px; height: 50px;" />
    </a>
    <div class="header-right">
      <i class="fa fa-bars" (click)="toggleSidenav()"></i>
    </div>
  </div>

  <router-outlet></router-outlet>

  <footer-col></footer-col>
</div>  

<!-- Sidenav -->
<div class="header__backdrop" [class.open]="sidenavOpen" (click)="closeSidenav()"></div>
<div class="sidenav" [class.open]="sidenavOpen">
  <!-- Your sidenav content goes here -->
  <a routerLink="/home" (click)="closeSidenav()">Home</a>
  <!-- <a [routerLink]="['/aws']" routerLinkActive="router-link-active" (click)="closeSidenav()">AWS</a> -->
  <a routerLink="/aws" (click)="closeSidenav()">AWS</a>
  <a routerLink="/azure-devops" (click)="closeSidenav()">Azure DevOps</a>
  <a routerLink="/data-analyst" (click)="closeSidenav()">Data Analyst </a>
  <!-- <a routerLink="/finops" (click)="closeSidenav()">FinOps </a> -->
  <a routerLink="/blogs" (click)="closeSidenav()">Blogs</a>
  <a [routerLink]="['/contactus']" routerLinkActive="router-link-active" (click)="closeSidenav()">Contact Us</a>
</div>
<a href="https://wa.me/919100073006" class="floating" target="_blank">
  <i class=" float-button"></i> <img width="80%" src="assets/icon-images/web.webp" alt="Cloud Binary Favicon">
</a>



<!-- <app-button-chooser
  buttonStyle="button1"
  buttonName="Basic Button"
  (click)="abc()"
></app-button-chooser>

<app-button-chooser
  buttonStyle="button2"
  buttonName="Gradient Button"
  (click)="abc()"
></app-button-chooser>

<app-button-chooser
  buttonStyle="button4"
  buttonName="Outline Button"
  (click)="abc()"
></app-button-chooser>

<app-button-chooser
  buttonStyle="button5"
  buttonName="Icon Button"
  (click)="abc()"
></app-button-chooser>
<app-button-chooser
  buttonStyle="button6"
  buttonName="Animated Button"
  (click)="abc()"
></app-button-chooser>
<app-button-chooser
  buttonStyle="button7"
  buttonName="box-shadow"
  (click)="abc()"
></app-button-chooser>
<app-button-chooser
  style="margin: 15px"
  buttonStyle="button9"
  buttonName="dual-color"
  (click)="abc()"
></app-button-chooser>
<app-button-chooser
  style="margin: 15px"
  buttonStyle="button11"
  buttonName="liquid-filling"
  (click)="abc()"
></app-button-chooser>
<app-button-chooser
  style="margin: 15px"
  buttonStyle="button8"
  buttonName="gradient-colors"
  (click)="abc()"
></app-button-chooser>
<app-button-chooser
  buttonStyle="button10"
  buttonName="border-animation"
  (click)="abc()"
></app-button-chooser>
<app-button-chooser
  style="margin: 10px"
  buttonStyle="button12"
  buttonName="border-animation2"
  (click)="abc()"
></app-button-chooser> -->