<div class="corporate_training" style="margin-top: 60px;">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 col-md-6 col-sm-12 order-lg-1 order-md-1 m-auto Coorporatetext"
      >
        <h2
          class="heading-3 textCustom wow fadeInUp animated animated"
          style="visibility: visible"
        >
          Intense Training Program 
        </h2>
        <h6
          class="heading-9 wow fadeInUp animated animated"
          style="visibility: visible"
        >
          For increased professional knowledge and skills.
        </h6>
        <p
          class="display-10 mb-18 wow fadeInUp animated animated"
          style="visibility: visible"
        >
        It is designed to meet the specific learning objectives of each participant and employs a blend of theoretical instruction, practical exercises, case studies, and interactive discussions. <br> <br>
        This program is tailor-made to meet the unique learning objectives of each participant and is delivered through a combination of theoretical instruction, practical exercises, case studies, and interactive discussions
        </p>
        <!-- style="justify-content: center;
        display: flex; " -->
        <div class="trainingprogrambutton" 
        >

        
        <div
          class="primaryButton hvr-icon-up wow fadeInUp animated animated"
          data-toggle="modal"
          data-target="#get_trained"
          style="visibility: visible"
        >
          <span class="primaryButtonText"> Talk to Our Mentor </span>
          <span>
            <img
              src="assets/corporate-training/send.png"
              alt="Cloud Binary - Submit"
              title="Cloud Binary - Submit"
              class="img-fluid hvr-icon iconText"
            />
          </span>
        </div>
      </div>
      </div>
      <div class="col-lg-1 col-md-1 order-lg-2 order-md-2"></div>
      <div
        class="col-lg-5 col-md-5 col-sm-12 order-lg-3 order-md-3 ml-auto d-flex justify-content-end align-items-center"
      >
        <img
          src="assets/corporate-training/corporate-training.svg"
          alt="corporate-training"
          class="img-fluid coorporateTrainingImage wow fadeInUp animated animated"
          style="visibility: visible"
          
        />
      </div>
    </div>
  </div>
</div>
