<div class="corporate_training">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 col-md-6 col-sm-12 order-lg-1 order-md-1 m-auto Coorporatetext"
      >
        <h2
          class="heading-3 textCustom wow fadeInUp animated animated"
          style="visibility: visible"
        >
          Corporate Training
        </h2>
        <h6
          class="heading-9 wow fadeInUp animated animated"
          style="visibility: visible"
        >
          We are just a call away
        </h6>
        <p
          class="display-10 mb-18 wow fadeInUp animated animated"
          style="visibility: visible"
        >
          Stay ahead in this competitive world, have your employees and leaders
          upskilled. Feel free to contact us. We will ensure that your team is
          upskilled in line with your specific needs.
        </p>
        <div
          class="primaryButton hvr-icon-up wow fadeInUp animated animated"
          data-toggle="modal"
          data-target="#get_trained"
          style="visibility: visible"
        >
          <span class="primaryButtonText"> Submit Request </span>
          <span>
            <img
              src="assets/corporate-training/send.png"
              alt="Digital Lync- Submit"
              title="Digital Lync- Submit"
              class="img-fluid hvr-icon iconText"
            />
          </span>
        </div>
      </div>
      <div class="col-lg-1 col-md-1 order-lg-2 order-md-2"></div>
      <div
        class="col-lg-5 col-md-5 col-sm-12 order-lg-3 order-md-3 ml-auto d-flex justify-content-end align-items-center"
      >
        <img
          src="assets/corporate-training/corporate-training.png"
          alt="corporate-training"
          class="img-fluid coorporateTrainingImage wow fadeInUp animated animated"
          style="visibility: visible"
        />
      </div>
    </div>
  </div>
</div>
