
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AWS DevOps vs. MLOPS</title>
    <style>
      /* CSS goes here */
    </style>
  </head>
  <body>
    <div class="container">
      <header>
        <!-- <h1>Courses</h1> -->
      </header>
      <main>
        <section class="aws-program">
          <h2 style="font-weight: bolder;"> <a > AWS DEVOPS</a></h2>
          
          <ul>
            <li class="white1">Duration 45 Days</li>
            <hr />
            <li class="white1">9 Real-Time Projects</li>
            <hr />
            <li class="white1">1 Hour Daily Hands-On Sessions</li>
            <hr />
            <li class="white1">Daily Notes & Session Recorded Video</li>
            <hr />
            <li class="white1">Use Cases On Covered Topics</li>
            <hr />
            <li class="white1">Quiz On Covered Topics </li>
            <hr />
            <li class="white1"> Resume Grooming Session</li>
            <hr />
            <li class="white1"> Naukri & LinkedIn Account Creation & Optimization.</li>
            <hr />
            <li class="white1"> 100% Placement Assistance  </li> 
          </ul>
        </section>
      </main>
    </div>
    <div class="curve">
      <img
        style="width: 100%"
        src="https://www.digital-lync.com/images/courses-background.jpg"
      />
    </div>
  </body>
</html>




























<!-- <!DOCTYPE html> -->
<!-- <html lang="en"> -->
<!--   <head> -->
<!--     <meta charset="UTF-8" /> -->
<!--     <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
<!--     <title>AWS DevOps vs. MLOPS</title> -->
<!--     <style> -->
<!--       /* CSS goes here */ -->
<!--     </style> -->
<!--   </head> -->
<!--   <body> -->
<!--     <div class="container"> -->
<!--       <header> -->
<!--          <h1>Courses</h1> -->
<!--       </header> -->
<!--       <main> -->
<!--         <section class="regular-program"> -->
<!--           <h2 style="font-weight: bolder;"> <a  [routerLink]="['/aws']" routerLinkActive="router-link-active"> AWS </a></h2> -->
<!--             <ul> -->
<!--             <li class="white1">Duration 45 Days</li> -->
<!--             <hr /> -->
<!--             <li class="white1">9 Real-Time Projects</li> -->
<!--             <hr /> -->
<!--             <li class="white1">1 Hour Daily Hands-On Sessions</li> -->
<!--             <hr /> -->
<!--             <li class="white1">Daily Notes & Session Recorded Video</li> -->
<!--             <hr /> -->
<!--             <li class="white1">Use Cases On Covered Topics</li> -->
<!--             <hr /> -->
<!--             <li class="white1">Quiz On Covered Topics </li> -->
<!--             <hr /> -->
<!--             <li class="white1"> Resume Grooming Session</li> -->
<!--             <hr /> -->
<!--             <li class="white1"> Naukri & LinkedIn Account Creation & Optimisation.</li> -->
<!--             <hr /> -->
<!--             <li class="white1"> 100% Placement Assistance  </li> -->
<!--           </ul> -->
<!--         </section> -->
<!--         <section class="intense-program"> -->
<!--           <h2 class="white" style="font-weight: bolder;"> <a [routerLink]="['/devops']" routerLinkActive="router-link-active" style="color: white;"> DevOps </a></h2> -->
<!--            <div class="coming-soon"> -->
<!--             <div class="flag">AWS Certified DevOps Engineer</div> -->
<!--           </div> --> 
<!--           <ul> -->
<!--             <li class="blue1">Duration 35 Days</li> -->
<!--             <hr /> -->
<!--             <li class="blue1">9 Real-Time Projects</li> -->
<!--             <hr /> -->
<!--             <li class="blue1">1 Hours Daily Hands-On Sessions</li> -->
<!--             <hr /> -->
<!--             <li class="blue1">Daily Notes & Session Recorded Video</li> -->
<!--             <hr /> -->
<!--             <li class="blue1">Use Cases On Covered Topics</li> -->
<!--             <hr /> -->
<!--             <li class="blue1">Quiz On Covered Topics</li> -->
<!--             <hr /> -->
<!--             <li class="blue1"> Resume Grooming Session</li> -->
<!--             <hr /> -->
<!--             <li class="blue1"> Naukri & LinkedIn Account Creation & Optimisation.</li> -->
<!--             <hr /> -->
<!--             <li class="blue1"> 100% Placement Assistance </li> -->
<!--           </ul> -->
<!--         </section> -->
<!--       </main> -->
<!--        <footer> -->
<!--         <p></p> -->
<!--       </footer> --> 
<!--     </div> -->
<!--     <div class="curve"> -->
<!--       <img -->
<!--         style="width: 100%" -->
<!--         src="https://www.digital-lync.com/images/courses-background.jpg" -->
<!--       /> -->
<!--     </div> -->
<!--   </body> -->
<!-- </html> -->

<!-- <div> -->
<!-- </div> -->
