<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Regular vs. Intense Program</title>
    <style>
      /* CSS goes here */
    </style>
  </head>
  <body>
    <div class="container">
      <header>
        <!-- <h1>Regular vs. Intense Program</h1> -->
      </header>
      <main>
        <section class="regular-program">
          <h2>Regular Program</h2>
          <ul>
            <li class="white1">3 months</li>
            <hr />
            <li class="white1">9 real-time projects</li>
            <hr />
            <li class="white1">20,000/- INR fee</li>
            <hr />
            <li class="white1">1 hour daily hands-on sessions</li>
          </ul>
        </section>
        <section class="intense-program">
          <h2 class="white">Intense Program</h2>
          <ul>
            <li class="blue1">2.5 months</li>
            <hr />
            <li class="blue1">18 real-time projects</li>
            <hr />
            <li class="blue1">36,000/- INR fee</li>
            <hr />
            <li class="blue1">2 hours daily hands-on sessions</li>
          </ul>
        </section>
      </main>
      <footer>
        <p></p>
      </footer>
    </div>
    <div class="curve">
      <img
        style="max-width: 100%"
        src="https://www.digital-lync.com/images/courses-background.jpg"
      />
    </div>
  </body>
</html>
