<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AWS DevOps vs. MLOPS</title>
    <style>
      /* CSS goes here */
    </style>
  </head>
<!--   
  <body style="background: url('assets/hybrid-learning/bg3.webp') center center / cover no-repeat;">
    <div class="container">
     
      
      <main style="width: 100%;">
        <section class="regular-program">
          <h2 style="font-weight: bolder;">AWS DEVOPS REGULAR</h2> 
          
            <ul>
            <li class="white1">Duration 2.5 Months</li>
            <hr />
            <li class="white1">6 Real-Time Projects</li>
            <hr />
            <li class="white1">1.5 Hour Daily Hands-On Sessions</li>
            <hr />
            <li class="white1">Daily Notes & Session Recorded Video</li>
            <hr />
            <li class="white1">Use Cases On Covered Topics</li>
            <hr />
            <li class="white1"> Resume Grooming Session</li>
            <hr />
            <li class="white1"> Naukri & LinkedIn Account Creation & Optimisation.</li>
            <hr />
            <li class="white1">Quiz On Covered Topics</li> 
            <hr />
            <li class="white1">Only Online</li> 
          </ul>
        </section>
        <section class="intense-program">
          <h2 class="white" style="font-weight: bolder;">AWS DEVOPS JOB READY</h2>  -->
        <!--  <div class="coming-soon">
            <div class="flag">AWS Certified DevOps Engineer</div>
          </div>  -->
<!--           
          <ul>
            <li class="blue1">Duration 3.5 Months</li>
            <hr />
            <li class="blue1">9+ Real-Time Projects</li>
            <hr />
            <li class="blue1">1.5 Hour Daily Hands-On Sessions</li>
            <hr />
            <li class="blue1">Daily Notes & Session Recorded Video</li>
            <hr />
            <li class="blue1">Use Cases On Covered Topics</li>
            <hr />
            <li class="blue1"> Resume Grooming Session</li>
            <hr />
            <li class="blue1"> Naukri & LinkedIn Account Creation & Optimisation.</li>
            <hr />
            <li class="blue1">Quiz On Covered Topics</li>
            <hr />
            <li class="blue1">Online & Classroom</li>
            <hr />
            <li class="blue1">Placement Assistance</li>
            <hr />
            <li class="blue1">6 Months Internship Program</li>
            <hr />
            <li class="blue1">AWS Cloud Practitioner Certification</li>
            <hr />
            <li class="blue1">Shell Scripting</li>
            <hr />
            <li class="blue1">Python Scripting</li>
            <hr />
            <li class="blue1">RDBMS & NoSQL - SQL</li>
          </ul>
        </section>
      </main>  -->
      <!-- <footer>
        <p></p>
      </footer> 
    </div>-->
  <!--  <div class="curve">
      <img
        style="width: 100%"
        src="https://www.digital-lync.com/images/courses-background.jpg"
      />
    </div> 
  </body>-->
</html>
