<div class="eligibilty-main-container">
    <h3 class="key-highlight-projects-text-2 ptb-0">Eligibility</h3>
    <div class="eligibility-grid">
        <div class="eligibility-child-div">
            <div class="eligibility-logo-class w-embed"><img class="eligibility-logo-class" loading="lazy"
                    src="https://nxtwave.imgix.net/ccbp-website/Blogs/java-full-stack/degree.png"></div>
            <div class="kh-grid-child-sub-2">
                <div class="eligibility-child-sub-p1">Any Degree - B. Tech, BSc, B.Com, BBA, etc.</div>
            </div>
        </div>
        <div class="eligibility-child-div">
            <div class="eligibility-logo-class w-embed"><img class="eligibility-logo-class" loading="lazy"
                    src="https://nxtwave.imgix.net/ccbp-website/Blogs/java-full-stack/grade-report.png"></div>
            <div class="kh-grid-child-sub-2">
                <div class="eligibility-child-sub-p1">All IT &amp; Non-IT Branches - CSE, EEE, Civil, Mech, Bio, etc.
                </div>
            </div>
        </div>
        <div class="eligibility-child-div">
            <div class="eligibility-logo-class w-embed"><img class="eligibility-logo-class" loading="lazy"
                    src="https://nxtwave.imgix.net/ccbp-website/Blogs/java-full-stack/coding-file.png"></div>
            <div class="kh-grid-child-sub-2">
                <div class="eligibility-child-sub-p1">No prior coding knowledge is required.</div>
            </div>
        </div>
        <div class="eligibility-child-div">
            <div class="eligibility-logo-class w-embed"><img class="eligibility-logo-class" loading="lazy"
                    src="https://nxtwave.imgix.net/ccbp-website/Blogs/java-full-stack/career-journey.png"></div>
            <div class="kh-grid-child-sub-2">
                <div class="eligibility-child-sub-p1">No CGPA cut-off. Career gap is not a barrier.</div>
            </div>
        </div>
    </div>
</div>