<div class="main-grid container">
  <div class="text-content">
    <h2 style="font-size: 50px">Learn AWS DevOps & MLOps by Doing..</h2>
    <!-- <h3>learn by Doing</h3> -->
    <p>
      An estmeed platform to upskill your career with market leading cloud
      technologies tools
    </p>
  </div>
  <div class="grid-container">
    <div class="grid-item top-centered"><img src="assets/intro/svg/aws.svg" /></div>
    <div class="grid-item"><img src="assets/intro/svg/mlops.svg" /></div>
    <div class="grid-item"><img src="assets/intro/svg/devops.svg" /></div>
    <!-- <div class="grid-item bottom-centered">4</div> -->
  </div>  
</div>
