.main-grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 400px auto;
  grid-gap: 10px;
  align-items: center;
  justify-items: center;
  padding: 131px 85px;
  justify-content: space-between;
}
.text-content {
  justify-items: center;
}
.grid-container {
  display: grid;
  grid-template-rows: repeat(2, 97px);
  grid-template-columns: repeat(2, 281px);
  grid-gap: 10px;
  justify-items: center;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 300px;
  /* height: 100px; */
}

@media (max-width: 720px) {
  .main-grid {
    display: block; /* Change from grid to block */
    text-align: center; /* Center-align the content */
    padding: 75px 50px;
  }
  .grid-item {
    max-width: 100%;
  }
  .grid-container {
    display: grid;
    grid-template-rows: repeat(2, 88px);
    grid-template-columns: repeat(2, 156px);
    grid-gap: 0px;
    justify-items: center;
    justify-content: center;
  }

  .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    width: 156px;
  }

  .text-content {
    margin-bottom: 100px;
  }
}

.top-centered {
  grid-row: 1;
  grid-column: span 2;
}
