<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Page</title>
    
</head>
<body>
<blogstarting></blogstarting>
<h5 style="font-family: 'Quicksand';">UseCases</h5>
    <div class="border"></div>
    <div class="container">
        <div class="card">
            <div class="card-content">
                <h2> Setting Up Network Load Balancer(NLB)</h2>
                <p>Amazon Network Load Balancer (NLB) optimizes traffic distribution, enhancing application availability, fault tolerance, and scalability within AWS. It plays a crucial role in intelligently managing.. </p>
                <a  href="{{baseurl + '/Setting-Up-Network-Load-Balancer'}}" class="read-more">Read More </a>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <h2> Setting Up Application Load Balancer(ALB)</h2>
                <p>Amazon Elastic Load Balancer(ALB) distributes incoming traffic, enhancing application availability, fault tolerance, and scalability in AWS... </p>
                <a  href="{{baseurl + '/Setting-Up-Application-Load-Balancer'}}" class="read-more">Read More </a>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <h2> Deploy AWS WAF on ALB</h2>
                <p>Amazon Elastic Load Balancer (ALB) optimizes traffic distribution... </p>
                <a  href="{{baseurl + '/aws-web-waf-on-alb'}}" class="read-more">Read More </a>
            </div>
        </div>
        
        <div class="card">
            <div class="card-content">
                <h2> Why You Need a Disaster Recovery Plan</h2>
                <p>This post was updated on 2/1/2021 to fix a statement about how to share automated snapshots between AWS Accounts... </p>
                <a  href="{{baseurl + '/Implementing-a-disaster-recovery-strategy-with-Amazon-RDS'}}" class="read-more">Read More </a>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <h2>AWS Single Sign On(SSO)</h2>
                <p> Single Sign-On (SSO) is an authentication process that allows users to access multiple applications with a single set of login credentials, streamlining the user experience and improving security by reducing the need for multiple passwords.. </p>
                <a  href="{{baseurl + '/aws-single-sign-on'}}" class="read-more">Read More </a>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <h2>Deploy-Docker-Containers-on-Amazon-Deploy-Docker-Containers</h2>
                <p>Amazon Elastic Container Service (Amazon ECS) is the service you use to run Docker applications on a scalable cluster.... </p>
                <a  href="{{baseurl + '/Deploy-Docker-Containers-on-Amazon-Deploy-Docker-Containers'}}" class="read-more">Read More </a>
            </div>
        </div>



    </div>


<h5 style="font-family: 'Quicksand';">Blogs</h5>
    <div class="border"></div>

     
<div class="container">
    <!-- Card 1 -->
    <div class="card">
        
        <div class="card-content">
            <h2>Creating MySQL Database using EC2 Instance</h2>
            <p>MySQL is a widely used relational database management system (RDBMS) that is used to manage and store data. </p>
            <a  href="{{baseurl + '/blog1'}}" class="read-more">Read More </a>
        </div>
    </div>

    <!-- Card 2 -->
    <div class="card">
        
        <div class="card-content">
            <h2>THE FRUGAL ARCHITECT</h2>
            <p>Simple laws for building cost-aware, sustainable, and modern architectures.
             <br> LAW I
              LAW II
              LAW III
              LAW IV
              LAW V
              LAW VI
              LAW VII.</p>
            <a href="{{baseurl + '/frugalarchitect'}}" class="read-more">Read More</a>
        </div>
    </div>
    
    <div class="card">
        
        <div class="card-content">
            <h2>Understanding Amazon EC2</h2>
            <p>Amazon Elastic Compute Cloud (EC2) is a key component of Amazon Web Services (AWS), providing scalable computing capability in the cloud. .</p>
            <a href="{{baseurl + '/Amazon-EC2'}}" class="read-more">Read More</a>
        </div>
    </div>
    
    <div class="card">
        
        <div class="card-content">
            <h2>Amazon Route 53</h2>
            <p>Amazon Route 53 Resolver responds recursively to DNS queries from AWS resources for public records, Amazon VPC-specific DNS names, and Amazon Route 53 private hosted zones.</p>
            <a href="{{baseurl + '/Route-53'}}" class="read-more">Read More</a>
        </div>
    </div>
    
    <div class="card">
        
        <div class="card-content">
            <h2>Amazon DynamoDB</h2>
            <p>Amazon DynamoDB is a fully managed NoSQL database service that provides fast and predictable performance with seamless scalability.</p>
            <a href="{{baseurl + '/AWS-DynamoDB'}}" class="read-more">Read More</a>
        </div>
    </div>
    
    <div class="card">
        
        <div class="card-content">
            <h2>Unveiling the Power of Amazon S3 Buckets</h2>
            <p>MySQL is a widely used relational database management system (RDBMS) that is used to manage and store data. Here are some of the common uses of MySQL..</p>
            <a  href="{{baseurl + '/Amazon-S3'}}" class="read-more">Read More</a>
        </div>
    </div>
    
    <div class="card">
        
        <div class="card-content">
            <h2>Amazon EC2 Auto Scaling</h2>
            <p>Amazon EC2 Auto Scaling helps you ensure that you have the correct number of Amazon EC2 instances 
              available to handle the load for your application. . <br></p>
            <a href="{{baseurl + '/Auto-Scaling'}}" class="read-more">Read More</a>
        </div>
    </div>
    
    <div class="card">
        
        <div class="card-content">
            <h2>Amazon Bedrock</h2>
            <p>Amazon Bedrock is a fully managed service that offers a choice of high-performing foundation models (FMs) from leading AI companies like AI21 Labs, Anthropic, Cohere, Meta, Stability AI, and Amazon via a single API.</p>
            <a href="{{baseurl + '/Amazon-Bedrock'}}" class="read-more">Read More</a>
        </div>
    </div>
    
    <div class="card">
        
        <div class="card-content">
            <h2>Amazon Certificate Manager</h2>
            <p>Amazon Certificate Manager (ACM) is a service provided by Amazon Web Services (AWS) that simplifies the process of provisioning, managing, and deploying Secure Sockets Layer/Transport Layer Security.</p>
            <a href="{{baseurl + '/AWS-Certificate-Manager-Component'}}" class="read-more">Read More</a>
        </div>
    </div>
    
    <div class="card">
        
        <div class="card-content">
            <h2>Amazon CloudFront</h2>
            <p>Amazon CloudFront is a web service that speeds up distribution of your static and dynamic web content,
              such as .html, .css, .js, and image files, to your users. </p><br>
            <a  href="{{baseurl + '/AWS-CloudFront'}}" class="read-more">Read More</a>
        </div>
    </div>
    
    <div class="card">
        
        <div class="card-content">
            <h2>Amazon CloudWatch Logs</h2>
            <p>Amazon CloudWatch Logs is a fully managed service that enables you to centralize and monitor logs from your applications, systems, and AWS services in real-time.</p>
            <a href= "{{baseurl + '/AWS-Cloud-Watch'}}" class="read-more">Read More</a>
        </div>
    </div>
    
    <div class="card">
        
        <div class="card-content">
            <h2>AWS CodeCommit</h2>
            <p>CodeCommit is familiar to users of Git-based repositories, but even those unfamiliar should find the transition to
              CodeCommit relatively simple. CodeCommit provides a console for the easy creation of repositories ..</p>
            <a href= "{{baseurl + '/AWS-Code-Commit'}}" class="read-more">Read More</a>
        </div>
    </div>
    <div class="card">
        
      <div class="card-content">
          <h2>Amazon CodeWhisperer</h2>
          <p>Amazon ran a productivity challenge during the preview, and participants who used CodeWhisperer were 27% more likely to complete tasks successfully and did so an average of 57% faster than those who did not use CodeWhisperer.</p>
          <a href= "{{baseurl + '/AWS-Code-Whisper'}}" class="read-more">Read More</a>
      </div>
  </div>

  <div class="card">
        
    <div class="card-content">
        <h2>Elastic Load Balancing (ELB)</h2>
        <p>Elastic Load Balancing automatically distributes your incoming traffic across multiple targets, such as EC2 instances, containers, and IP addresses, in one or more Availability Zones..</p>
        <a href= "{{baseurl + '/Elastic-Load-Balancing'}}" class="read-more">Read More</a>
    </div>
</div>

<div class="card">
        
  <div class="card-content">
      <h2>IAM user groups</h2>
      <p>An IAM is a collection of IAM users. User groups let you specify permissions for multiple users, which can make it easier to manage the permissions for those users.For example, you could have a user group called Admins and give that user group typical administrator permissions.</p>
      <a href= "{{baseurl + '/IAM-Group'}}" class="read-more">Read More</a>
  </div>
</div>

<div class="card">
        
  <div class="card-content">
      <h2>IAM Identities </h2>
      <p>The AWS account root user or an administrative user for the account can create IAM identities. An IAM identity provides access to an AWS account. An IAM user group is a collection of IAM users managed as a unit. An IAM identity represents a human user or programmatic workload..</p>
      <a href= "{{baseurl + '/IAM-Identity'}}" class="read-more">Read More</a>
  </div>
</div>

<div class="card">
        
  <div class="card-content">
      <h2>IAM Role - AWS</h2>
      <p>IAM identity that you can create in your account that has specific permissions. An IAM role has some similarities to an IAM user. Roles and users are both AWS identities with permissions policies that determine what the identity can and cannot do in AWS..</p>
      <a href= "{{baseurl + '/IAM-Role'}}" class="read-more">Read More</a>
  </div>
</div>

<div class="card">
        
  <div class="card-content">
      <h2>IAM User on AWS</h2>
      <p>An AWS Identity and Access Management (IAM) user is an entity that you create in AWS. The IAM user represents the human user or workload who uses the IAM user to interact with AWS. A user in AWS consists of a name and credentials..</p>
      <a href= "{{baseurl + '/IAM-User'}}" class="read-more">Read More</a>
  </div>
</div>

<div class="card">
        
  <div class="card-content">
      <h2>AWS Lambda</h2>
      <p>Lambda runs your code on a high-availability compute infrastructure and performs all of the administration of the compute resources, including server and operating system maintenance, capacity provisioning and automatic scaling, and logging. With Lambda, all you need to do is supply your code in one of the language runtimes that Lambda supports..</p>
      <a href= "{{baseurl + '/AWS-Lambda'}}" class="read-more">Read More</a>
  </div>
</div>

<div class="card">
        
  <div class="card-content">
      <h2>Amazon Relational Database Service (RDS)</h2>
      <p>Amazon Relational Database Service, is a cloud-based relational database service provided by Amazon Web Services (AWS). It simplifies the process of setting up, operating, and scaling a relational database in the cloud..</p>
      <a href= "{{baseurl + '/AWS-RDS'}}" class="read-more">Read More</a>
  </div>
</div>

<div class="card">
        
  <div class="card-content">
      <h2>Amazon Route 53</h2>
      <p>Route 53 is a highly available and scalable Domain Name System (DNS) web service. You can use Route 53 to perform three main functions in any combination: domain registration, DNS routing, and health checking. Route internet traffic to the resources for your domain</p>
      <a href= "{{baseurl + '/AWS-Route-53'}}" class="read-more">Read More</a>
  </div>
</div>

<div class="card">
        
  <div class="card-content">
      <h2>Amazon Simple Notification Service(SNS)</h2>
      <p>In a world where connectivity and real-time communication are paramount, a robust and efficient messaging service is crucial for businesses looking to engage and connect with their audience seamlessly..</p>
      <a href= "{{baseurl + '/AWS-Simple-Notification-Service'}}" class="read-more">Read More</a>
  </div>
</div>

<div class="card">
        
  <div class="card-content">
      <h2>AWS Step Functions</h2>
      <p>Application development is faster and more intuitive with Step Functions because you can define and manage the workflow of your application independently from its business logic. Making changes to one does not affect the other. You can easily update and modify workflows in one place, without having to struggle with managing, monitoring, and maintaining multiple point-to-point integrations. .</p>
      <a href= "{{baseurl + '/Step-Function'}}" class="read-more">Read More</a>
  </div>
</div>

<div class="card">
        
    <div class="card-content">
        <h2>AWS Transit Gateway</h2>
        <p>AWS Transit Gateway helps you design and implement networks at scale by acting as a cloud router. As your network grows, the complexity of managing incremental connections can slow you down.AWS Transit Gateway connects VPCs and on-premises networks through a central hub.</p>
        <a href= "{{baseurl + '/Amazon-Transit-Gateway'}}" class="read-more">Read More</a>
    </div>
  </div>

  <div class="card">
        
    <div class="card-content">
        <h2>Amazon VPC (Virtual Private Cloud)</h2>
        <p>With Amazon Virtual Private Cloud (Amazon VPC), you can launch AWS resources in a logically isolated virtual network that you've defined. This virtual network closely resembles a traditional network that you'd operate in your own data center, with the benefits of using the scalable infrastructure of AWS.</p>
        <a href= "{{baseurl + '/Amazon-Virtual-Private-Cloud-VPC'}}" class="read-more">Read More</a>
    </div>
  </div>


  <div class="card">
        
    <div class="card-content">
        <h2>Amazon VPC Peering</h2>
        <p>A virtual private cloud (VPC) is a virtual network dedicated to your AWS account. It is logically isolated from other virtual networks in the AWS Cloud. You can launch AWS resources, such as Amazon EC2 instances, into your VPC.A VPC peering connection is a networking connection between two VPCs </p>
        <a href= "{{baseurl + '/Amazon-Virtual-Private-Cloud-Peering'}}" class="read-more">Read More</a>
    </div>
  </div>


  <div class="card">
        
    <div class="card-content">
        <h2>Amazon VPN(Virtual Private Network)</h2>
        <p>AWS Client VPN is used by your remote workforce to securely access resources both on AWS and within your on-premises networks.Host an Amazon Virtual Private Cloud (VPC) behind your firewall and seamlessly move IT resources, without affecting the user experience</p>
        <a href= "{{baseurl + '/VPNComponent'}}" class="read-more">Read More</a>
    </div>
  </div>


  <div class="card">
        
    <div class="card-content">
        <h2>AWS X-Ray</h2>
        <p>In the ever-evolving landscape of cloud computing, where applications are becoming increasingly complex and distributed, the need for effective performance monitoring and debugging tools is more crucial than ever. Enter AWS X-Ray, a powerful service designed to provide insights into the health and behavior of your applications..</p>
        <a href= "{{baseurl + '/Amazon-X-Ray'}}" class="read-more">Read More</a>
    </div>
  </div>


  <div class="card">
        
    <div class="card-content">
        <h2>AWS CodeDeploy</h2>
        <p>AWS CodeDeploy is a powerful and flexible service provided by Amazon Web Services (AWS) that automates the deployment of applications to various compute services such as Amazon EC2 instances, AWS Lambda functions, and even on-premises servers. It allows developers to release new features or updates with confidence.</p>
        <a href= "{{baseurl + '/Amazon-Code-Deploy'}}" class="read-more">Read More</a>
    </div>
  </div>

  <div class="card">
        
    <div class="card-content">
        <h2>Amazon SageMaker</h2>
        <p>To make it easier to get started, Amazon SageMaker JumpStart provides a set of solutions for the most common use cases that can be deployed readily with just a few clicks.</p>
        <a href= "{{baseurl + '/SageMaker'}}" class="read-more">Read More</a>
    </div>
  </div>

  <div class="card">
        
    <div class="card-content">
        <h2>Provisioning Amazon RDS From MYSQL</h2>
        <p>Amazon Relational Database Service is a distributed relational database service by Amazon Web Services. It is a web service running "in the cloud" designed to simplify the setup, operation.</p>
        <a href= "{{baseurl + '/RDS-MYSQL'}}" class="read-more">Read More</a>
    </div>
  </div>

  <div class="card">
        
    <div class="card-content">
        <h2>Routing Policies in Amazon Route 53</h2>
        <p>Simple routing lets you configure standard DNS records, with no special Route 53 routing such as weighted or latency. With simple routing, you typically route traffic to a single resource, for example, to a web server for your website..</p>
        <a href= "{{baseurl + '/Routing-Policies-in-Amazon-Route53'}}" class="read-more">Read More</a>
    </div>
  </div>

  <div class="card">
        
    <div class="card-content">
        <h2>Deploying a Serverless Website on AWS</h2>
        <p>I realized at a young age that I really liked writing those special statements that would control the computer and make it work in the manner in which I desired. This technique of controlling the computer and building things on the machine, I learned from my teachers was called writing code, and it fascinated me.</p>
        <a href= "{{baseurl + '/AWS-Serverless'}}" class="read-more">Read More</a>
    </div>
  </div>

 
</div>


</body>
</html>
