.main-grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 400px auto;
  grid-gap: 10px;
  align-items: center;
  justify-items: center;
  padding: 137px 190px;
}

.text-content {
  justify-items: center;
}

@media (max-width: 720px) {
  .main-grid {
    display: block; /* Change from grid to block */
    text-align: center; /* Center-align the content */
  }
  .text-content {
    margin-bottom: 1px;
  }
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(2, 270px);
  grid-gap: 5px;
  justify-items: center;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 300px;
  opacity: 0; /* Initially hide the images */
  animation: fadeIn 1s ease-in-out forwards; /* Apply animation */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.top-centered {
  grid-row: 1;
  grid-column: span 2;
}

/* Remove margin for the DevOps and MLOps images */
.grid-item:nth-child(2),
.grid-item:nth-child(3) {
  margin-top: 0;
}
