<!-- <cloud-intro-comp></cloud-intro-comp> -->
<!-- <app-vertical-menu></app-vertical-menu> -->
<!-- <app-vertical-menu2></app-vertical-menu2> -->
<!-- <app-vertical-menu3></app-vertical-menu3> -->

<div class="carousel-inner">
  <div class="item slidetrain active">
    <div class="container">
      <div class="row">
        <div class="col-md-5 align-items-center d-flex">
          <div class="">
            <h2 style="font-size: 60px">CloudBinary</h2>
            <h3>learn by Doing</h3>
            <p>
              An estmeed platform to upskill your career with market leading cloud
              technologies tools
            </p>
           <!-- <ul
              class="wow fadeInUp animated animated"
              style="visibility: visible"
            >
              <li>50,000 Trained and Got Better Jobs</li>
              <li>First Ever Hybrid Institute with Classroom &amp; Online</li>
              <li>Real time projects, Interviews and Job Support</li>
            </ul> -->
          <div
              class="slidebtns wow fadeInUp animated animated"
              style="visibility: visible"
            ><!-- 
              <a
                href="#"
                class="active"
                data-toggle="modal"
                data-target="#get_trained"
                >Contact Course Advisor</a
              >--> 
             <!-- <a href="courses.html">View Courses</a> -->
            </div>
            <div
              style="padding: 1rem 0rem; color: green"
              class="d-none"
              id="showFormSubmitAlert"
            >
              ✔️ Thank You! We will contact you shortly…
            </div>
          </div>
        </div>

        <div class="col-md-7 text-center">
          <div class="midrelative">
            <img
              src="assets/intro/training-course1.jpg"
              class="wow fadeInUp animated coursewhitebg animated"
              alt="Learn From Best Cartoon- Digital Lync Training Institute"
              title="Learn From Best Cartoon- Digital Lync Training Institute"
              style="visibility: visible"
            />

            <img
              src="assets/intro/CB.jpg"
              class="wow fadeInUp animated trainingmid animated"
              alt="Learn From Best Cartoon- Digital Lync Training Institute"
              title="Learn From Best Cartoon- Digital Lync Training Institute"
              style="visibility: visible"
            />

            <a
              href="aws-training-in-hyderabad.html"
              class=" "
              style="animation-delay: -2s"
            >
              <img
                src="assets/intro/awsicon.png"
                class="wow fadeInUp animated awsicon animated"
                alt="Learn From Best Cartoon- Digital Lync Training Institute"
                title="Learn From Best Cartoon- Digital Lync Training Institute"
                style="visibility: visible"
              />
            </a>
            <a
              href="devops-training-in-hyderabad.html"
              class=" "
              style="animation-delay: -4s"
            >
              <img
                src="assets/intro/devicon.png"
                class="wow fadeInUp animated devopsicon animated"
                alt="Learn From Best Cartoon- Digital Lync Training Institute"
                title="Learn From Best Cartoon- Digital Lync Training Institute"
                style="visibility: visible"
              />
            </a>
            <a
              href="sales-force-training-in-hyderabad.html"
              class=" "
              style="animation-delay: -6s"
            >
              <img
                src="assets/intro/salceforce.png"
                class="wow fadeInUp animated uiicon animated"
                alt="Learn From Best Cartoon- Digital Lync Training Institute"
                title="Learn From Best Cartoon- Digital Lync Training Institute"
                style="visibility: visible"
              />
            </a>
            <a
              href="full-stack-training-in-hyderabad.html"
              class=" "
              style="animation-delay: -8s"
            >
              <img
                src="assets/intro/fullicon.png"
                class="wow fadeInUp animated fullicon animated"
                alt="Learn From Best Cartoon- Digital Lync Training Institute"
                title="Learn From Best Cartoon- Digital Lync Training Institute"
                style="visibility: visible"
              />
            </a>

            <a
              href="react-training-in-hyderabad.html"
              class=" "
              style="animation-delay: -12s"
            >
              <img
                src="assets/intro/reacticon.png"
                class="wow fadeInUp animated reacticon animated"
                alt="Learn From Best Cartoon- Digital Lync Training Institute"
                title="Learn From Best Cartoon- Digital Lync Training Institute"
                style="visibility: visible"
              />
            </a>

            <a
              href="full-stack-training-in-hyderabad.html"
              class=" "
              style="animation-delay: -12s"
            >
              <img
                src="assets/intro/javaicon.png"
                class="wow fadeInUp animated nodeicon animated"
                alt="Learn From Best Cartoon- Digital Lync Training Institute"
                title="Learn From Best Cartoon- Digital Lync Training Institute"
                style="visibility: visible"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<intro-cards></intro-cards>
<programs></programs>
<trending-courses></trending-courses>
<hybrid-learning></hybrid-learning>
<key-features></key-features>
<corporate-training></corporate-training>
<div class="">
  <img
    src="https://www.digital-lync.com/images/lifeAtDl-background.jpg"
    class="img-fluid curveimg homecurve"
    alt="Cloud Binary- Website Background"
    title="Cloud Binary- Website Background"
  />
</div>

<digital-lync></digital-lync>

<questions-col></questions-col>
<locations></locations>
<footer-col></footer-col>
