
.main-component {
  background: url('src/assets/intro/bgg1.svg') no-repeat center center ;
  background-size: cover;
}

.main-component{
  display: flex;
  justify-content: center;
  padding: 105px 15px;
 
}
.main-grid {
  display: grid;
  /* grid-template-rows: 1fr; */
  grid-template-columns: 1fr 1fr;
  grid-gap: 84px;
  padding-top: 221px;
  padding-bottom: 113px;
  justify-content: center;
  max-width: 1257px;
}

.text-content {
  justify-items: center;
}

@media (max-width: 720px) {
  .main-grid {
    display: block; /* Change from grid to block */
    text-align: center; /* Center-align the content */
    padding-top: 80px;
    padding-bottom: 0;
    width: -webkit-fill-available;
  }
  .text-content {
    margin: 0 50px 93px;
  }
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(3, 91px);
  grid-template-columns: repeat(2, 309px);
  grid-gap: 5px;
  justify-content: center;
  justify-items: center;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 300px;
  opacity: 0; /* Initially hide the images */
  animation: fadeIn 1s ease-in-out forwards; /* Apply animation */
}

@media screen and (max-width: 900px) {
  .grid-item {
    width:200px;
  }
  .grid-container{
    grid-template-rows: repeat(3, 66px);
    grid-template-columns: repeat(2, 200px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.top-centered {
  grid-row: 1;
  grid-column: span 2;
}

/* Remove margin for the DevOps and MLOps images */
.grid-item:nth-child(2),
.grid-item:nth-child(3) {
  margin-top: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  
}


@media screen and (max-width: 500px) {
  

  .image-transition{
    width: 123px;
  }

  .grid-container{
    grid-template-rows: repeat(3, 61px);
    grid-template-columns: repeat(2, 138px);
  }
}



  .container {
    max-width: 1336px;
  }




  .button-container {
    display: flex;
    gap: 40px; /* Adjust the gap as needed */
    padding-top: 20px;
  }

  .button {
    padding: 15px 35px;
    background-color: #002346;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none; /* Remove underlines from anchor tags */
    display: inline-block; /* Add this to anchor tags to make them behave like buttons */
    transition: background-color 0.3s, transform 0.3s; /* Add smooth transitions */
     font-family: 'Quicksand', sans-serif;
  }

  .button:hover {
    background-color: #002324; /* Change color on hover */
    transform: scale(1.1); /* Increase button size on hover */
    color: white;
  }
  
.animated-text{
  font-size: 28px;
  font-weight: 600;
  min-width: 280px;
}

.animated-text span{
  position: relative;
}

.animated-text span::before{
      /* text-shadow: 1px 1px 2px #002346; */
      content: "AWS DevOps";
      color: orange;
      animation: words 8s infinite;
      font-size: xx-large;
}

.animated-text span::after{
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
 /* background: linear-gradient(to right, #6ec6e6, #38b6ff); 
  border-left: 2px solid #FF9900;
  right: -8px; 
  animation: cursor .8s infinite, typing 20s steps(14) infinite; */
}

@keyframes cursor {
  to{
      border-left: 2px solid #ff7f5000;
  }
}

@keyframes words {
  0%,20%{
      content: "100% Job Assistance";
  }
  21%,40%{
      content: "9 Real Time Projects";
  }
  41%,60%{
      content: "Quiz On Covered Topics";
  }
   61%,80%{
      content: "Use Case Based Teaching ";
  }
  81%,100%{
      content: "Resume Grooming Session";
  } 
}

@keyframes typing {
  10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
      width: 0;
  }
  5%,20%,25%,40%,45%,60%,65%,80%,85%{
      width: calc(100% + 8px);
  }
}