<!-- <cloud-intro-comp></cloud-intro-comp> -->
<!-- <app-vertical-menu></app-vertical-menu> -->
<!-- <app-vertical-menu2></app-vertical-menu2> -->
<!-- <app-vertical-menu3></app-vertical-menu3> -->
<intro-cards></intro-cards>
<programs></programs>
<trending-courses></trending-courses>
<hybrid-learning></hybrid-learning>
<key-features></key-features>
<corporate-training></corporate-training>
<div class="">
  <img
    src="https://www.digital-lync.com/images/lifeAtDl-background.jpg"
    class="img-fluid curveimg homecurve"
    alt="Digital Lync- Website Background"
    title="Digital Lync- Website Background"
  />
</div>

<digital-lync></digital-lync>

<div class="happy_partners">
  <div class="container">
    <h3
      class="heading-3 wow fadeInUp animated animated"
      style="visibility: visible"
    >
      Happy Partners
    </h3>
    <h5
      class="heading-9 wow fadeInUp animated animated"
      style="visibility: visible"
    >
      You'll be in good company
    </h5>
    <div class="partnerlogos">
      <div class="loop center owl-carousel owl-theme owl-loaded owl-drag">
        <div class="owl-stage-outer">
          <div
            class="owl-stage"
            style="
              transform: translate3d(-1119px, 0px, 0px);
              transition: all 0s ease 0s;
              width: 4480px;
            "
          >
            <div
              class="owl-item cloned"
              style="width: 363.333px; margin: 0 20px"
            >
              <div class="item">
                <img
                  src="https://www.digital-lync.com/images/salesforce-partner.png"
                  alt="Digital Lync Partner- Salesforce"
                  title="Digital Lync Partner- Salesforce"
                />
              </div>
            </div>
            <div
              class="owl-item cloned"
              style="width: 363.333px; margin-right: 10px"
            >
              <div class="item">
                <img
                  src="https://www.digital-lync.com/images/ideeo.png"
                  alt="Digital Lync Partner- Ideeo"
                  title="Digital Lync Partner- Ideeo"
                />
              </div>
            </div>
            <div
              class="owl-item cloned"
              style="width: 363.333px; margin-right: 10px"
            >
              <div class="item">
                <img
                  src="https://www.digital-lync.com/images/att-partner.png"
                  alt="Digital Lync Partner- ATT"
                  title="Digital Lync Partner- ATT"
                />
              </div>
            </div>
            <div
              class="owl-item active"
              style="width: 363.333px; margin-right: 10px"
            >
              <div class="item">
                <img
                  src="https://www.digital-lync.com/images/brocade-partner.png"
                  alt="Digital Lync Partner- Brocade"
                  title="Digital Lync Partner- Brocade"
                />
              </div>
            </div>
            <div
              class="owl-item active"
              style="width: 363.333px; margin-right: 10px"
            >
              <div class="item">
                <img
                  src="https://www.digital-lync.com/images/foyr.png"
                  alt="Digital Lync Partner- Foyr"
                  title="Digital Lync Partner- Foyr"
                />
              </div>
            </div>
            <div
              class="owl-item active"
              style="width: 363.333px; margin-right: 10px"
            >
              <div class="item">
                <img
                  src="https://www.digital-lync.com/images/intellibot.png"
                  alt="Digital Lync Partner- Intellibot"
                  title="Digital Lync Partner- Intellibot"
                />
              </div>
            </div>
            <div class="owl-item" style="width: 363.333px; margin-right: 10px">
              <div class="item">
                <img
                  src="https://www.digital-lync.com/images/salesforce-partner.png"
                  alt="Digital Lync Partner- Salesforce"
                  title="Digital Lync Partner- Salesforce"
                />
              </div>
            </div>
            <div class="owl-item" style="width: 363.333px; margin-right: 10px">
              <div class="item">
                <img
                  src="https://www.digital-lync.com/images/ideeo.png"
                  alt="Digital Lync Partner- Ideeo"
                  title="Digital Lync Partner- Ideeo"
                />
              </div>
            </div>
            <div class="owl-item" style="width: 363.333px; margin-right: 10px">
              <div class="item">
                <img
                  src="https://www.digital-lync.com/images/att-partner.png"
                  alt="Digital Lync Partner- ATT"
                  title="Digital Lync Partner- ATT"
                />
              </div>
            </div>
            <div
              class="owl-item cloned"
              style="width: 363.333px; margin-right: 10px"
            >
              <div class="item">
                <img
                  src="https://www.digital-lync.com/images/brocade-partner.png"
                  alt="Digital Lync Partner- Brocade"
                  title="Digital Lync Partner- Brocade"
                />
              </div>
            </div>
            <div
              class="owl-item cloned"
              style="width: 363.333px; margin-right: 10px"
            >
              <div class="item">
                <img
                  src="https://www.digital-lync.com/images/foyr.png"
                  alt="Digital Lync Partner- Foyr"
                  title="Digital Lync Partner- Foyr"
                />
              </div>
            </div>
            <div
              class="owl-item cloned"
              style="width: 363.333px; margin-right: 10px"
            >
              <div class="item">
                <img
                  src="https://www.digital-lync.com/images/intellibot.png"
                  alt="Digital Lync Partner- Intellibot"
                  title="Digital Lync Partner- Intellibot"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="owl-nav">
          <button type="button" role="presentation" class="owl-prev">
            <span aria-label="Previous" style="display: contents"
              >‹</span
            ></button
          ><button type="button" role="presentation" class="owl-next">
            <span aria-label="Next" style="display: contents">›</span>
          </button>
        </div>
        <div class="owl-dots">
          <button role="button" class="owl-dot active"><span></span></button
          ><button role="button" class="owl-dot"><span></span></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  id="carouselExampleAutoplaying"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active" style="flex-flow: row; display: flex">
      <div class="owl-item cloned" style="width: 363.333px; margin-right: 10px">
        <div class="item">
          <img
            src="https://www.digital-lync.com/images/salesforce-partner.png"
            alt="Digital Lync Partner- Salesforce"
            title="Digital Lync Partner- Salesforce"
          />
        </div>
      </div>
      <div class="owl-item cloned" style="width: 363.333px; margin-right: 10px">
        <div class="item">
          <img
            src="https://www.digital-lync.com/images/ideeo.png"
            alt="Digital Lync Partner- Ideeo"
            title="Digital Lync Partner- Ideeo"
          />
        </div>
      </div>
      <div class="owl-item cloned" style="width: 363.333px; margin-right: 10px">
        <div class="item">
          <img
            src="https://www.digital-lync.com/images/att-partner.png"
            alt="Digital Lync Partner- ATT"
            title="Digital Lync Partner- ATT"
          />
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div style="flex-flow: row; display: flex">
        <img
          src="https://www.digital-lync.com/images/foyr.png"
          class="d-block w-100"
          alt="https://www.digital-lync.com/images/intellibot.png"
        />
        <img
          src="https://www.digital-lync.com/images/intellibot.png"
          class="d-block w-100"
          alt="https://www.digital-lync.com/images/intellibot.png"
        />
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://www.digital-lync.com/images/brocade-partner.png"
        class="d-block w-100"
        alt="https://www.digital-lync.com/images/intellibot.png"
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleAutoplaying"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleAutoplaying"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
