.main-component{
  display: flex;
  justify-content: center;
  padding: 0 15px;
}
.main-grid {
  display: grid;
  /* grid-template-rows: 1fr; */
  grid-template-columns: 1fr 1fr;
  grid-gap: 84px;
  padding-top: 225px;
  padding-bottom: 100px;
  justify-content: center;
  max-width: 1257px;
}

.text-content {
  justify-items: center;
}

@media (max-width: 720px) {
  .main-grid {
    display: block; /* Change from grid to block */
    text-align: center; /* Center-align the content */
    padding-top: 80px;
    padding-bottom: 0;
    width: -webkit-fill-available;
  }
  .text-content {
    margin: 0 50px 93px;
  }
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(2, 270px);
  grid-gap: 5px;
  justify-content: center;
  justify-items: center;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 300px;
  opacity: 0; /* Initially hide the images */
  animation: fadeIn 1s ease-in-out forwards; /* Apply animation */
}

@media screen and (max-width: 900px) {
  .grid-item {
    width:200px;
  }
  .grid-container{
    grid-template-rows: repeat(3, 66px);
    grid-template-columns: repeat(2, 200px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.top-centered {
  grid-row: 1;
  grid-column: span 2;
}

/* Remove margin for the DevOps and MLOps images */
.grid-item:nth-child(2),
.grid-item:nth-child(3) {
  margin-top: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #ffffff;
  padding: 20px 30px;
  display: flex; /* Add this to use flexbox */
  justify-content: space-between; /* Add this to space items evenly horizontally */
  align-items: center; /* Add this to vertically center items */
}

/* .header a {
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
} */

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  margin-right: 20px; /* Adjust this margin to move the logo right */
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  display: flex; /* Add this to use flexbox for navigation links */
  margin-left: -10px; /* Adjust this margin to move "Home" and "About" left */
}

.header a:not(.logo) {
  padding: 11px 20px; /* Add horizontal padding to navigation links */
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
    margin-left: 0; /* Reset the margin for smaller screens */
    margin-top: 10px; /* Add margin to separate links on smaller screens */
  }

  .image-transition{
    width: 123px;
  }

  .grid-container{
    grid-template-rows: repeat(3, 61px);
    grid-template-columns: repeat(2, 138px);
  }
}

.logo_link{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #38b6ff;
  
}

  .container {
    max-width: 1336px;
  }

