<div class="card cardBody shadow-lg mb-5">
  <div class="card-image">
    <img
      [src]="ImgSrc"
      class="wow fadeInUp animated animated"
      [alt]="ImgTitle"
      [title]="ImgTitle"
      style="visibility: visible"
    />
  </div>
  <div class="card-title pt-3">
    <h4
      class="display-7 wow fadeInUp animated animated"
      style="visibility: visible;
      font-size: larger;
      font-weight: 900;
      color: #172342;"
    >
      {{ CardTitle }}
    </h4>
  </div>
  <div class="card-sub-title">
    <p class="wow fadeInUp animated animated" style="visibility: visible; font-size: medium;">
      {{ CardDesc }}
    </p>
  </div>
</div>
