.cardBody {
  max-width: 30%;
  padding: 20px;
  border: none;
}

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 250px;
  max-width: 375px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  align-items: center;
}

/* *,
::after,
::before {
  box-sizing: border-box;
} */

.cards-flex {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
}

.card-image,
.card-title {
  margin-bottom: 15px;
}
