<div class="video_col">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 col-md-6 col-sm-12 position-relative text-center order-lg-2 order-md-2"
        data-toggle="modal"
        data-target="#modalone"
      >
      <iframe width="500" height="400" src="https://www.youtube.com/embed/n0etTeHRJ4M" frameborder="0" allowfullscreen></iframe>


      </div>
      <div
        class="col-lg-6 col-md-6 col-sm-12 m-auto order-lg-1 order-md-1 px-md-0"
      >
        <h2
          class="heading-5 wow fadeInLeft animated animated"
          style="visibility: visible"
        >
        Watch Our Demo
        </h2>
        
        <style>
          /* Style for the unvisited link (default) */
          .youtube-link {
            color: blue;
            text-decoration: none; /* Remove underlines from the link */
          }
        
          /* Style for the visited link */
          .youtube-link:visited {
            color: blue; /* You can set it to blue or your preferred color */
          }
        
          /* Style for the link when hovered (optional) */
          .youtube-link:hover {
            color: red; /* Change to your preferred color when hovered */
          }
        </style>
        
        <h6 class="heading-6 wow fadeInLeft animated animated" style="visibility: visible">
          Subscribe to our <a href="https://www.youtube.com/@cloudbinary" target="_blank" class="youtube-link">YouTube channel</a>
        </h6>
        
        



      </div>
    </div>
  </div>
</div>
