<div class="video_col">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 col-md-6 col-sm-12 position-relative text-center order-lg-2 order-md-2"
        data-toggle="modal"
        data-target="#modalone"
      >
         <video width="500px" height="500px" controls="controls">
        <source src="assets/New folder/vid.mp4" type="video/mp4" />
       </video>
      </div>
      <div
        class="col-lg-6 col-md-6 col-sm-12 m-auto order-lg-1 order-md-1 px-md-0"
      >
        <h2
          class="heading-5 wow fadeInLeft animated animated"
          style="visibility: visible"
        >
        Your Path to Success Starts Here
        </h2>
        <h6
          class="heading-6 wow fadeInLeft animated animated"
          style="visibility: visible"
        >
          The environment at Cloud-Binary is colorful and creative. It is where
          ideas are incubated and generated. An apt place to explore yourself.
        </h6>
      </div>
    </div>
  </div>
</div>
