<div id="trending-courses">
  <div class="container trending-courses" id="table-container1">
    <div>
      <h3 class="heading-3 wow fadeInUp animated animated" style="color: #172342;"> MLOps Engineering on AWS </h3>
      <h5 class="heading-9 wow fadeInUp animated animated">
  
      </h5> 
    </div>
    <!--<div class="button-container" style="padding-left: 399px;">
     <a href="#aws" class="button" (click)="toggleTable()"  >AWS DevOps</a>
      <a  class="button"  (click)="toggleTable_intense()" style="color: #fff; background-color: #FF9900 ;">Job Ready Program</a>
    </div> -->
  
  
   <mlops-table></mlops-table> 
   <!--  <devopsdownload-form style="
  
   display: flex;
   justify-content: space-around;
   /* flex-direction: row; */
  
  padding: 38px;
  "></devopsdownload-form> -->
  <!--
   <div style="    display: flex;
justify-content: space-around;
padding: 38px;">
<button class="custom-button" (click)="openDialog()">Download Course Content</button>
</div>  -->
  <!--
  <div class="text-center" id="#register" >
    <a
      href="https://8amcloudbinary.s3.amazonaws.com/AWS_DevOps.pdf"
      class="button-course getStartedButton radiusround hvr-icon-up mt-5 shadow-lg wow fadeInUp animated animated"
      style="visibility: visible" 
      
    >
      <span >Download Course Content</span>
    </a>
  </div>
  -->
  </div>