<!-- Add the following h5 element for Testimonials -->
<div style="    margin-top: 35px;
margin-bottom: 60px;">
<h5>Testimonials</h5>
<div class="cards">
<figure class="snip1533">
  <figcaption>
    <blockquote>
      <p>Taking training from Cloud Binary has been a transformative experience for my career. I am delighted to share that I secured a position as an AWS DevOps Engineer at Dazn Software Pvt Ltd, a shift from my previous role in Sales. I am immensely grateful to Cloud Binary for the incredible impact it has had on my career journey..</p>
    </blockquote>
    <h3>Anand Peruri</h3>
    <h4>AWS DevOps Engineer</h4>
    <h4>Placed in <span style="font-weight: 600;"> Dazn Software Private Limited </span> with <span style="font-weight: 600;">6 LPA </span></h4>
  </figcaption>
</figure>

<figure class="snip1533">
  <figcaption>
    <blockquote>
      <p>It has not only opened doors to a fulfilling career but also equipped me with the skills and knowledge needed to excel in the competitive tech landscape. If you are considering a career in cloud computing and want to secure lucrative opportunities like mine, I highly recommend Cloud Binary's training programs..</p>
    </blockquote>
    <h3>Wilson Manda</h3>
    <h4>AWS DevOps Engineer</h4>
    <h4 >Placed in <span style="font-weight: 600; color: #172342 !important;"> DXC </span> with <span style="font-weight: 600;">14 LPA </span></h4>
  </figcaption>
</figure>

<figure class="snip1533">
  <figcaption>
    <blockquote>
      <p>After completing my B.Com degree, I embarked on a journey to explore different career opportunities. During this search, I discovered Cloud Binary, which offered specialized training in AWS and DevOps. 
        I extend my heartfelt gratitude to Cloud Binary for providing me with these incredible career opportunities. </p>
    </blockquote>
    <h3>Harsha</h3>
    <h4>Jr DevOps Engineer</h4>
    <h4>Placed in <span style="font-weight: 600;"> Capgemini </span> with <span style="font-weight: 600;">4 LPA </span></h4>
  </figcaption>
</figure>
<figure class="snip1533">
  <figcaption>
    <blockquote>
      <p>After completing training at Cloud Binary, I am proud to say that I have secured a position at HCL. The training I received in AWS & DevOps has been instrumental in enhancing my skill set and knowledge. These newly acquired skills have added tremendous value to my day-to-day project deliveries at my current position. I'm grateful to Cloud Binary for equipping me with the tools necessary for success in my career. </p>
    </blockquote>
    <h3> Dinesh D </h3>
    <h4>AWS DevOps Engineer HCL</h4>
    <h4>Placed in <span style="font-weight: 600;"> HCL </span> with <span style="font-weight: 600;">6 LPA </span></h4>
  </figcaption>
</figure>
</div>
</div>