<!-- Add the following h5 element for Testimonials -->
<div style="    margin-top: 35px;
margin-bottom: 60px;">
<h5>Testimonials</h5>
<div class="cards">
<figure class="snip1533">
  <figcaption>
    <blockquote>
      <p>If you do the job badly enough, sometimes you don't get asked to do it again.</p>
    </blockquote>
    <h3>Madhu Kummari</h3>
    <h4>Sr. Engineer</h4>
  </figcaption>
</figure>

<figure class="snip1533">
  <figcaption>
    <blockquote>
      <p>I'm killing time while I wait for life to shower me with meaning and happiness.</p>
    </blockquote>
    <h3>Wilson</h3>
    <h4>Team Lead</h4>
  </figcaption>
</figure>

<figure class="snip1533">
  <figcaption>
    <blockquote>
      <p>The only skills I have the patience to learn are those that have no real application in life. </p>
    </blockquote>
    <h3>Harsha</h3>
    <h4>Jr DevOps Engineer</h4>
  </figcaption>
</figure>
</div>
</div>