<h2 style="display: flex; justify-content: space-around; text-align: center; font-weight: bolder; font-size: 45px; color: #172342;">AWS FAQs</h2>
  <div class="faq-section">
    <div class="faq-item">
    <div class="faq-question">
      <span class="question-text">Why Cloud Binary?</span>
      <span class="toggle-icon"></span>
    </div>
    <div class="faq-answer">
      <br>
      <p>At Cloud Binary, we stand out for several reasons:</p>
      <ul>
        <li><strong style="font-size: large;">Certification-Oriented Training:</strong> We prioritize helping our students achieve industry-recognized certifications. Our courses are designed to prepare you thoroughly for certification exams, enhancing your career prospects.</li><br>
        <li><strong style="font-size: large;">Real-Time Training from Certified Trainers:</strong> Our instructors are certified professionals with real-world experience in their respective fields. You'll benefit from their expertise and gain practical insights into industry practices.</li><br>
        <li><strong style="font-size: large;">Comprehensive Learning Approach:</strong> We employ a multifaceted teaching methodology that includes theory, diagrams, use cases, and hands-on exercises. This ensures a well-rounded understanding of the subject matter.</li><br>
        <li><strong style="font-size: large;">Topic-wise Quiz:</strong> To reinforce your learning, we provide topic-wise quizzes that allow you to assess your knowledge and track your progress.</li><br>
        <li><strong style="font-size: large;">Interview Preparation:</strong> We equip you with the skills and knowledge necessary to excel in job interviews. Our interview questions and mock interviews help you build confidence and perform well in interviews.</li><br>
        <li><strong style="font-size: large;">Project Work:</strong> Practical experience is essential in today's tech landscape. We offer project work opportunities to apply your knowledge in real-world scenarios, enhancing your problem-solving skills and readiness for the job market.</li><br>
        <li><strong style="font-size: large;">Free 6 Months Internship:</strong> We believe in providing opportunities for hands-on experience. That's why we offer a free 6-month internship program to give you a taste of working in a real professional environment.</li><br>
      </ul>
      <p>Choose Cloud Binary for a holistic learning experience that will empower you to succeed in the world of cloud computing and DevOps.</p>
    </div>
  </div>



  <div class="faq-item">
    <div class="faq-question">
      <span class="question-text">What is the duration of the AWS DevOps course?</span>
      <span class="toggle-icon"></span>
    </div>
    <div class="faq-answer">
      <br>
      <p>3 Months</p>
    </div>
  </div>

  <div class="faq-item">
    <div class="faq-question">
      <span class="question-text">What are the prerequisites for enrolling in the DevOps on Multi-Cloud course?</span>
      <span class="toggle-icon"></span>
    </div>
    <div class="faq-answer">
      <br>
      <p>You must be a graduate with a passion for learning new technologies. We welcome individuals from various educational backgrounds who share a keen interest in exploring and mastering the world of DevOps.</p>
    </div>
  </div>
  
  <div class="faq-item">
    <div class="faq-question">
      <span class="question-text">Is the internship a mandatory part of the course?</span>
      <span class="toggle-icon"></span>
    </div>
    <div class="faq-answer">
      <br>
      <p>Yes</p>
    </div>
  </div>

  <div class="faq-item">
    <div class="faq-question">
      <span class="question-text">What topics are covered in AWS DevOps course?</span>
      <span class="toggle-icon"></span>
    </div>
    <div class="faq-answer">
      <br>
      <p>The DevOps course covers a wide range of essential topics to provide you with a comprehensive understanding. The key areas include:</p>
      <h4> Foundational Knowledge:</h4>
      <ul>
        <li>Windows and Linux Basics</li>
        <li>Shell Scripting Basics</li>
      </ul>
      <h4>AWS, Azure, & GCP Services:</h4>
      <ul>
        <li>Analytics</li>
        <li>Application Integration</li>
        <li>Compute</li>
        <li>Containers</li>
        <li>Database</li>
        <li>Storage</li>
        <li>Developer Tools</li>
        <li>Management and Governance</li>
        <li>Networking and Content Delivery</li>
        <li>Security, Identity, and Compliance</li>
        <li>Serverless</li>
      </ul>
      <h4>DevOps Topics:</h4>
      <ul>
        <li>Software Development Life Cycle: Agile - Scrum</li>
        <li>Version Control System / Source Code Management: Git</li>
        <li>Continuous Integration using Jenkins</li>
        <li>Continuous Static Code Analysis: SonarQube</li>
        <li>Continuous Binary Code Repository using JFrog</li>
        <li>Continuous Infrastructure As A Code: Terraform</li>
        <li>Creating Machine Images: Packer</li>
        <li>Continuous Configuration Management: Ansible</li>
        <li>Containerization: Docker</li>
        <li>Container Orchestration: Kubernetes</li>
        <li>Continuous Monitoring: New Relic & Nagios</li>
        <li>Migration Strategies</li>
        <li>Deployment Strategies</li>
      </ul>
      <h4>Python Basics:</h4>
      <ul>
        <li>Introduction</li>
        <li>Functions</li>
        <li>Object & Class</li>
        <li>Data Types</li>
        <li>Flow Control</li>
        <li>File Handling</li>
        <li>Modules</li>
      </ul>
      <h4>Shell Scripting:</h4>
      <ul>
        <li>Introduction to Shell Scripting</li>
        <li>Shell Script Basics</li>
        <li>Control Structures and Loops</li>
        <li>Advanced Concepts</li>
        <li>Real-world Applications and Best Practices</li>
      </ul>
      <p>Our comprehensive curriculum ensures that you gain proficiency in AWS, Azure, GCP, DevOps, and related technologies, preparing you for a successful career in the field. <a [routerLink]="['/awsdevops']" routerLinkActive="router-link-active" target="_blank" style="font-weight: 900;">Here is the Course Content</a>.</p>
    </div>
    </div>

  

  <div class="faq-item">
    <div class="faq-question">
      <span class="question-text">What is the format of the internship—remote or on-site?</span>
      <span class="toggle-icon"></span>
    </div>
    <div class="faq-answer">
      <br>
      <p>The internship offers both remote and on-site options, providing flexibility to participants based on their location and preferences.</p>
    </div>
  </div>

  <div class="faq-item">
    <div class="faq-question">
      <span class="question-text">Are there any networking opportunities or events during the course?</span>
      <span class="toggle-icon"></span>
    </div>
    <div class="faq-answer">
      <br>
      <p>Yes, participants will have access to networking events, industry webinars, and guest lectures, providing valuable opportunities to connect with professionals in the field.</p>
    </div>
  </div>

  <div class="faq-item">
    <div class="faq-question">
      <span class="question-text">What is the refund policy if I need to withdraw from the course?</span>
      <span class="toggle-icon"></span>
    </div>
    <div class="faq-answer">
      <br>
      <p>Our refund policy is outlined in our terms and conditions. Generally, refunds are processed according to a specified timeline and conditions, which can be found in our policy document.</p>
    </div>
  </div>

  <div class="faq-item">
    <div class="faq-question">
      <span class="question-text">Can I apply for the course if I am not based in India or Other States in India ?</span>
      <span class="toggle-icon"></span>
    </div>
    <div class="faq-answer">
      <br>
      <p>Absolutely! The course is open to participants globally, and we encourage applications from individuals regardless of their geographical location.</p>
    </div>
  </div>

  <div class="faq-item">
    <div class="faq-question">
      <span class="question-text">How can I contact support or get assistance during the course?</span>
      <span class="toggle-icon"></span>
    </div>
    <div class="faq-answer">
      <br>
      <p>Participants can reach out to our dedicated support team via email at admin@cloudbinary.io or through our WhatsApp Community . We also conduct regular office hours for additional assistance.</p>
    </div>
  </div>

  <div class="faq-item">
    <div class="faq-question">
      <span class="question-text">What certifications can participants earn upon completion of the course?</span>
      <span class="toggle-icon"></span>
    </div>
    <div class="faq-answer">
      <br>
      <p>Upon successful completion of the course and related assessments, participants have the opportunity to earn the following AWS, Azure & GCP certifications:</p>
      <p><strong>Foundational: <br><br>  
      </strong> 
      1. AWS Certified Cloud Practitioner
      2. Microsoft Certified: Azure Fundamentals
      3. GCP Certified: Cloud Digital Leader</p>
      <p><strong>Associate:</strong></p>
      <ul>
        <li>1. SysOps Administrator</li>
        <li>2. Developer</li>
        <li>3. Solutions Architect</li>
        <li>4. Data Engineer</li>
      </ul>
      <p><strong>Professional:</strong></p>
      <ul>
        <li>1. Solutions Architect</li>
        <li>2. DevOps Engineer</li>
      </ul>
      <p><strong>Specialty:</strong></p>
      <ul>
        <li>1. Advanced Networking</li>
        <li>2. Database</li>
        <li>3. SAP on AWS, Azure, & GCP</li>
        <li>4. Machine Learning</li>
        <li>5. Security</li>
        <li>6. Data Analytics</li>
      </ul>
      <p>For the latest updates and announcements on AWS certifications, visit the <a href="https://aws.amazon.com/certification/" target="_blank" style="font-weight: 900;">AWS Certification page</a>.</p>
      <p>For the latest updates and announcements on Azure certifications, visit the <a href="https://azure.microsoft.com/en-in/resources/training-and-certifications#learning-paths" target="_blank" style="font-weight: 900;">Azure Certification page</a>.</p>
      <p>For the latest updates and announcements on GCP certifications, visit the <a href="https://cloud.google.com/learn/certification" target="_blank" style="font-weight: 900;">GCP Certification page</a>.</p>
    </div>
  </div>