<section data-gtm-section="pricing_section" data-gtm-element="pricing_section" data-gtm-allowed-actions="scroll"
  id="pricing" class="section gtm-track-element tuition-fee hide-on-mobile" data-cy="" data-variant-key="" data-variant-value=""
  style="">
  <div class="sr-container ">

    <div>
      <h2 style="  display: flex;
        justify-content: space-around;
        font-weight: 700 !important;
        font-size: xx-large;">Course Fee</h2>
    </div>

    <b><b>


        <div class="tuition-fee__information">
          <img class="tuition-fee__img aspect-ratio-box"
            data-src="https://cdn-icons-png.flaticon.com/512/2769/2769441.png"
            src="https://cdn-icons-png.flaticon.com/512/2769/2769441.png">
          <div class="section-header tuition-fee__content">
            <div class="section-header__content">
              <div class="section-header__title">
                <!-- low as Rs 2083 per month - that's like your monthly grocery bill! -->
              </div>
              <div class="section-header__subtitle">
                Total fee: Rs 19,999/- + 18% GST
              </div>
            </div>
          </div>
        </div>
       <div style="    display: flex;
    justify-content: space-around;">
        <!-- <button (click)="openModal()" class="academy-button secondary tuition-fee__button">
            VIEW EMI PLANS
          </button> -->
       </div>
      </b></b>
  </div><b><b>
    </b></b>
</section>
