<div class="cource-card pro-card wow fadeInUp animated animated">
  <div class="cources-img">
    <a [href]="CourseLink"
      ><img
        style="max-width: 100%"
        [src]="ImgSrc"
        alt="Cloud Binary- Best AWS Classroom & Online Training"
        title="Cloud Binary- Best AWS Online Training"
    /></a>
    <a [href]="CourseLink"
      ><span class="btn">{{ CourseLinkName }}</span></a
    >
  </div>
  <div class="cource-card-cnt">
    <h4>{{ CourseName }}</h4>
    <ul>
      <li>
        <a href="#" data-toggle="modal" data-target="#get_trained">
          <img
            src="https://www.digital-lync.com/images/pdf-download.png"
            alt="Download monochrome- Cloud Binary Training Courses Curriculum"
            title="Download monochrome- Cloud Binary Training Courses Curriculum"
          />
          <span>Curriculum</span>
        </a>
      </li>
      <li>
        <a href="#" data-toggle="modal" data-target="#get_trained">
          <img
            src="https://www.digital-lync.com/images/enroll_here.png"
            alt="Enroll Now Tick Mark- Cloud Binary Training Courses"
            title="Enroll Now Tick Mark- Cloud Binary Training Courses"
          />
          <span>Enroll Now</span>
        </a>
      </li>
    </ul>
  </div>
</div>
