

<div class="keycol keyhome" 
style=" background-size: 100%;
background-repeat: no-repeat;
background-position: center"

>
  <div class="container">
    <h4 sty>Key Features</h4>
    <hr >

    <!DOCTYPE html>
<html>

<body>

<div class="outer-grid">
  <div class="inner-grid">
    <img src="assets/key-features/kf/k1.png" />
    <img src="assets/key-features/kf/k2.png" />
   
  </div>
  <div class="inner-grid">
    <img src="assets/key-features/kf/k3.png" />
    <img src="assets/key-features/kf/k4.png" />
    
  </div>
  <div class="inner-grid">
 <img src="assets/key-features/kf/k5.png" />
    <img src="assets/key-features/kf/k6.png" />
    
  </div>
</div>
</body>
</html>

  </div>
</div>
