<div class="container">
  <div style="margin-top: 50px">
    <h3 class="heading-3 wow fadeInUp animated animated"> Courses in High Demand </h3>
    <h5 class="heading-9 wow fadeInUp animated animated">
      Thoroughly Researched, Thoughtfully Selected, and Industry-Endorsed Courses
    </h5>
  </div>

<course-table></course-table>


<div class="text-center"> 
  <a
    href="#"
    class="button-course getStartedButton radiusround hvr-icon-up mt-5 shadow-lg wow fadeInUp animated animated"
    style="visibility: visible"
  >
    <span>Download Course Content</span>
  </a>
</div>


