.heading-3 {
  color: #1554bb;
  font-size: 40px !important;
  margin-bottom: 10px !important;
  text-transform: capitalize;
  font-weight: 600;
  text-align: center;
}
.heading-9 {
  font-size: 18px;
  line-height: 1.5rem;
  margin: 0;
  letter-spacing: 0.8px;
  text-align: center;
  font-weight: lighter;
}

course-reg-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-center {
  text-align: center !important;
}

.radiusround {
  border-radius: 30px !important;
  color: #fff !important;
}

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.getStartedButton {
  padding: 20px 40px;
  display: inline-block;
  background-color: #1554bb;
  border: 0;
  cursor: pointer;
  transition: all linear 0.3s;
  font-size: 16px;
  border-radius: 5px;
}
.getStartedButton:hover {
  background: #07bd6d;
}

a {
  text-decoration: none;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}
