

<div class="container" id="table-container1">
  <div style="margin-top: 50px">
    <h3 class="heading-3 wow fadeInUp animated animated"> AWS Certified DevOps Engineer </h3>
    <h5 class="heading-9 wow fadeInUp animated animated">
      
    </h5>
  </div>
  <!--<div class="button-container" style="padding-left: 399px;">
   <a href="#aws" class="button" (click)="toggleTable()"  >AWS DevOps</a>
    <a  class="button"  (click)="toggleTable_intense()" style="color: #fff; background-color: #FF9900 ;">Job Ready Program</a>
  </div> --> 
<course-table></course-table> 
<course-table-intense ></course-table-intense>



<div class="text-center" id="#register"> 
  <a
    href="#"
    class="button-course getStartedButton radiusround hvr-icon-up mt-5 shadow-lg wow fadeInUp animated animated"
    style="visibility: visible"
  >
    <span>Download Course Content</span>
  </a>
</div>


