<!-- image-popup.component.html -->
 <div *ngIf="isPopupOpen" class="image-popup" (click)="closePopup()">
  <div class="popup-content" (click)="$event.stopPropagation()">
    
    <!-- Wrap the image in an anchor tag with the Zoom link -->
        <a href="https://wa.me/919100073006" target="_blank">
      <img src="assets/intro/JanDemo.webp" alt="Cloud Binary Demo Popup Image" loading="lazy"> 
    </a>
    
    
    <button class="close-button" (click)="closePopup()">X</button>
  </div>
</div> 
