<!-- image-popup.component.html -->
<!-- <div *ngIf="isPopupOpen" class="image-popup" (click)="closePopup()">
  <div class="popup-content" (click)="$event.stopPropagation()">
    <button class="close-button" (click)="closePopup()">X</button> -->
    
    <!-- Wrap the image in an anchor tag with the Zoom link -->
    <!-- <a href="https://us02web.zoom.us/webinar/register/WN_kgbeJXFlQ0O6uAHQs61jKQ#/registration" target="_blank">
    <img src="assets/AwsDevops.png" alt=" Cloud Binary Demo Popup Image">
    </a>
  </div> -->
<!-- </div> -->